<example-comp comp-name="INPUTS.INTEGER" comp-desc="INPUTS.INTEGER.DESC" [files]="files" fxFill>
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-integer-input attr="integer" label="{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}" [data]="getValue()" min="0" max="10"></o-integer-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-integer-input attr="integer2" label="{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}" read-only="false" [data]="getValue()"
        grouping="yes" min="0" max="100000" required="true" ></o-integer-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-integer-input attr="integer3" label="{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}" enabled="no" [data]="getValue()" min="0"
        max="10"></o-integer-input>
    </div>
  </o-form>
</example-comp>
