<example-comp comp-name="INPUTS.EVENTS" comp-desc="INPUTS.EVENTS.DESC" [files]="files">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" layout-padding>
      <mat-checkbox #printOnChange [checked]="true">onChange</mat-checkbox>
      <mat-checkbox #printOnValueChange [checked]="true">onValueChange</mat-checkbox>
      <mat-checkbox #printOnFocus [checked]="true">onFocus</mat-checkbox>
      <mat-checkbox #printOnBlur [checked]="true">onBlur</mat-checkbox>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-checkbox #check attr="checkbox" label="{{ 'INPUT.BUTTON.CHECKBOX' | oTranslate }}" [data]="getValue('checkbox')"
            read-only="no" tooltip="This is an awesome tooltip!" (onValueChange)="onValueChange($event)" (onChange)="onChange($event,check)"
            fxFlex="70" (onFocus)="onFocus($event, check)" (onBlur)="onBlur($event, check)"></o-checkbox>
          <button mat-button (click)="setValue(check,false)">setValue false</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-combo #combo attr="combo" label="{{ 'INPUT.COMBO' | oTranslate }}" [static-data]="getDataArray()" [data]="getValue('combo')"
            value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="false"
            (onValueChange)="onValueChange($event)" fxFlex="70" (onChange)="onChange($event,combo)" (onFocus)="onFocus($event, combo)"
            (onBlur)="onBlur($event, combo)"></o-combo>
          <button mat-button (click)="setValue(combo,4)">setValue Germany</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-date-input #date attr="date" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" [data]="getValue('date')"
            read-only="no" format="LL" required="yes" min="01/01/1980" max="01/01/2020" tooltip="This is an awesome tooltip!"
            (onValueChange)="onValueChange($event)" clear-button="yes" fxFlex="70" (onChange)="onChange($event,date)"
            (onFocus)="onFocus($event, date)" (onBlur)="onBlur($event, date)"></o-date-input>
          <button mat-button (click)="setValue(date,'2018-10-03')">setValue 2018-10-03</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-file-input #file attr="file" label="{{ 'INPUT.BUTTON.FILE' | oTranslate }} (edit mode)" read-only="no"
            required="yes" accept-file-type=".png;.jpg" max-file-size="10000" multiple="yes" tooltip="This is an awesome tooltip!"
            (onValueChange)="onValueChange($event)" (onChange)="onChange($event,file)" (onFocus)="onFocus($event, file)"
            (onBlur)="onBlur($event, file)" clear-button="yes">
          </o-file-input>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-hour-input #hour attr="hour" label="{{ 'INPUT.BUTTON.HOUR' | oTranslate }}" [data]="getValue('hour')"
            read-only="no" required="yes" tooltip="This is an awesome tooltip!" clear-button="yes" format="24"
            (onChange)="onChange($event,hour)" (onValueChange)="onValueChange($event)" (onFocus)="onFocus($event, hour)"
            (onBlur)="onBlur($event, hour)" clear-button="yes" fxFlex="70"></o-hour-input>
          <button mat-button (click)="setValue(hour, '08:00 PM')">setValue 08:00 PM</button>
        </div>
      </div>
      <div fxFlex="45" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-list-picker #listpicker attr="listpicker" label="{{ 'INPUT.BUTTON.LISTPICKER' | oTranslate }}"
            [static-data]="getDataArray()" [data]="getValue('listpicker')" filter="yes" value-column="key" columns="key;value"
            visible-columns="value" required="true" read-only="false" (onValueChange)="onValueChange($event)" fxFlex="70"
            (onChange)="onChange($event,listpicker)" (onFocus)="onFocus($event, listpicker)" (onBlur)="onBlur($event, listpicker)"></o-list-picker>
          <button mat-button (click)="setValue(listpicker, '4')">setValue Germany</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-radio #radio attr="radio" label="Radio" [static-data]="getDataArray()" [data]="getValue('radio')"
            value-column="key" columns="key;value" visible-columns="value" fxFlex="70" (onChange)="onChange($event,radio)"
            (onValueChange)="onValueChange($event)" read-only="no" layout="row" (onFocus)="onFocus($event, radio)"
            (onBlur)="onBlur($event, radio)"></o-radio>
          <button mat-button (click)="setValue(radio, '4')">setValue Germany</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-text-input #input attr="input" label="{{ 'INPUT.BUTTON.TEXT' | oTranslate }}" [data]="getValue('input')"
            read-only="no" required="yes" tooltip="This is an awesome tooltip!" (onValueChange)="onValueChange($event)"
            (onChange)="onChange($event,input)" clear-button="yes" fxFlex="70" (onFocus)="onFocus($event, input)"
            (onBlur)="onBlur($event, input)"></o-text-input>
          <button mat-button (click)="setValue(input, 'James Alan')">setValue James Alan</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch center" layout-padding>
          <o-time-input #time attr="time" label="{{ 'INPUT.BUTTON.TIME' | oTranslate }}" [data]="getValue('time')"
            read-only="no" required="yes" tooltip="This is an awesome tooltip!" clear-button="yes" format="24"
            (onValueChange)="onValueChange($event)" clear-button="yes" fxFlex="70" (onChange)="onChange($event,time)"
            (onFocus)="onFocus($event, time)" (onBlur)="onBlur($event, time)"></o-time-input>
          <button mat-button (click)="setValue(time,1535358788828)">setValue 08/27/2018 10:33am</button>
        </div>
      </div>
    </div>
    <mat-toolbar class="playground-toolbar">
      <mat-toolbar-row>
        <span>{{ 'CONSOLE.LOG' | oTranslate }}</span>
        <span class="mat-toolbar-space"></span>
        <button mat-icon-button (click)="clearConsole()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list dense class="console" style="min-height:200px">
      <mat-list-item *ngFor="let log of consoleLog">
        Event&nbsp;<b>{{log.eventName}}</b>&nbsp; in &nbsp;{{log.attr }}
        <ng-container *ngIf="showNewAndOldValue(log)">:: change old value: <b> {{ log.oldValue }}</b>&nbsp; by new
          value: <b>{{ log.newValue === undefined ? 'undefined' : log.newValue }}</b>,
        </ng-container>
        <ng-container *ngIf="showValue(log)">:: value: <b> {{ log.value === undefined ? 'undefined' : log.value }}</b></ng-container>
        <ng-container *ngIf="showTypeEvent(log)"> this change is of type &nbsp;<b>{{ log.type }}</b></ng-container>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </o-form>
</example-comp>
