.console {
  font: 11px Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color:#ccc;
  max-height: 260px;
  overflow-y: auto;
  border:1px solid #ccc; 
}

.mat-toolbar-space{
  flex:1 1 auto;
}


