<example-comp class="o-flex-fill" #ex collapsible="no" collapsed="no" comp-name="TREE.DETAIL.COMPONENT" comp-desc="TREE.DETAIL.COMPONENT.DESC" [files]="files">

  <div class="o-flex-row o-layout-align-c-stretch o-flex-fill">

    <o-tree controls="no" #treeview class="o-flex" root-title="CUSTOMERS" service-type="DummyService" service="customers" entity="customerTree"
      keys="CUSTOMERID" columns="CUSTOMERID;SURNAME;NAME" visible-columns="SURNAME;NAME" separator=", " query-on-init="true" route=":CUSTOMERID"
      select-all-checkbox="yes">

      <o-tree-node service-type="DummyService" service="customers" entity="customerAccount" columns="ACCOUNTID;CUSTOMERID;ACCOUNT"
        visible-columns="ACCOUNT" keys="ACCOUNTID" parent-keys="CUSTOMERID" route="accounts/:ACCOUNTID">
      </o-tree-node>

    </o-tree>

    <div class="o-flex-column o-layout-align-c-stretch" style="flex:0 0 75%">
      <router-outlet></router-outlet>
    </div>
  </div>

</example-comp>
