<div fxLayout="column" fxLayoutAlign="center top" layout-margin>
  <example-comp #ex1 collapsible="no" collapsed="no" [comp-name]="getComponentId('o-table')" [files]="getFiles('o-table')"
    (showSource)="onShowSource('o-table', table2, ex1)">

    <div fxLayout="row" fxLayoutAlign="center start" layout-padding>

      <o-column elevation="1" fxFlex="60" layout-align="center">
        <o-table #table2 fxFlex attr="table2" title="CUSTOMERS" keys="CUSTOMERID" columns="CUSTOMERID;PHOTO;NAME;SURNAME;STARTDATE;EMAIL"
          visible-columns="PHOTO;NAME;SURNAME;STARTDATE" sort-columns="SURNAME" query-on-init="false" [quick-filter]="quickFilterToggle.checked"
          [static-data]="getTableData2()" [insert-button]="buttonAddToggle.checked" [export-button]="exportButtonToggle.checked"
          [delete-button]="buttonRemoveToggle.checked" [refresh-button]="buttonRefreshToggle.checked" [select-all-checkbox]="selectMultipleToggle.checked"
          [show-table-buttons-text]="showTextToggle.checked" pagination-controls="no">

          <o-table-columns-filter columns="NAME;SURNAME;STARTDATE"></o-table-columns-filter>
          <o-table-button (onClick)="onAction1()" label="Action1" icon="alarm"></o-table-button>
          <o-table-column attr="PHOTO" orderable="no" searchable="no">
            <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes"> </o-table-cell-renderer-image>
          </o-table-column>
          <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"> </o-table-column>
        </o-table>

      </o-column>

      <o-column attr="conf" title-label="{{ 'TABLE_CONFIGURATION' | oTranslate }}" elevation="0" fxFlex="40" layout-padding layout-align="center">

        <div fxLayout="row" layout-padding fxLayoutAlign="center" fxFill>
          <md-input-container fxFlex="95">
            <input mdInput #tableTitle placeholder="{{ 'TITLE' | oTranslate }}" value="Table">
          </md-input-container>
        </div>
        <o-column title-label="{{'TABLE.FILTER' | oTranslate}}">

          <md-slide-toggle #quickFilterToggle checked="true">
            {{ 'TABLE.FILTER' | oTranslate }}
          </md-slide-toggle>

          <md-slide-toggle #filterCaseSensitiveToggle checked="true">
            {{ 'TABLE.FILTER_CASE_SENSITIVE' | oTranslate }}
          </md-slide-toggle>
        </o-column>
        <o-column title-label="{{'TABLE.MENU' | oTranslate}}">
          <md-slide-toggle #selectMultipleToggle checked="false">
            {{ 'TABLE.SELECT_BUTTON' | oTranslate }}
          </md-slide-toggle>

          <md-slide-toggle #exportButtonToggle checked="true">
            {{ 'TABLE.EXPORT_BUTTON' | oTranslate }}
          </md-slide-toggle>

        </o-column>
        <o-column title-label="{{'BUTTONS' | oTranslate}}">
          <o-row>
            <div fxFlex="50">
              <md-slide-toggle #buttonAddToggle [checked]="false">
                {{ 'TABLE.BUTTON.ADD' | oTranslate }}
              </md-slide-toggle>
              <md-slide-toggle #buttonRefreshToggle [checked]="false">
                {{ 'TABLE.BUTTON.REFRESH' | oTranslate }}
              </md-slide-toggle>
            </div>
            <div fxFlex="50">
              <md-slide-toggle #buttonRemoveToggle [checked]="false">
                {{ 'TABLE.BUTTON.REMOVE' | oTranslate }}
              </md-slide-toggle>
              <md-slide-toggle #showTextToggle checked="true">
                {{ 'TABLE.BUTTON.SHOW_TEXT' | oTranslate }}
              </md-slide-toggle>
            </div>
          </o-row>
        </o-column>
        <!-- <md-slide-toggle #paginationToggle checked="true">
            {{ 'TABLE.SHOW_PAGINATION' | oTranslate }}
          </md-slide-toggle>
        </o-column>-->
      </o-column>
    </div>

  </example-comp>
  <example-comp #ex2 collapsible="no" collapsed="no" [comp-name]="getComponentId('o-table-renderers')" [files]="getFiles('o-table-renderer')"
    (showSource)="onShowSource('o-table', table2, ex1)">
    <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
      <o-table fxFill #table1 attr="table1" columns="PHOTO;NAME;ACCOUNT;BALANCE;STARTDATE;NUMCARDS;ENDDATE;INTERESRATE;CLOSED"
        visible-columns="PHOTO;NAME;STARTDATE;ACCOUNT;BALANCE;NUMCARDS;INTERESRATE;COMMISSION" layout-padding attr="accounts"
        title="ACCOUNTS" [static-data]="getTableData()" sort-columns="ACCOUNT:DESC" query-on-init="false" quick-filter="yes"
        insert-button="no" delete-button="no" refresh-button="no" pagination-controls="no">

        <o-table-columns-filter columns="NAME;STARTDATE;ACCOUNT;BALANCE;NUMCARDS;INTERESRATE;COMMISSION"></o-table-columns-filter>

        <o-table-column attr="PHOTO" orderable="no" searchable="no">
          <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes"> </o-table-cell-renderer-image>
        </o-table-column>
        <o-table-column attr="STARTDATE" title="STARTDATE" type="date"> </o-table-column>
        <o-table-column attr="BALANCE" title="BALANCE" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
          currency-symbol-position="right"></o-table-column>
        <o-table-column attr="INTERESRATE" title="INTERESRATE" type="percentage" decimal-separator="," decimal-digits="2"></o-table-column>
        <o-table-column attr="NUMCARDS" title="NUMCARDS" type="integer"></o-table-column>
        <o-table-column attr="COMMISSION" title="COMMISSION">
          <o-table-cell-renderer-boolean true-value="check_circle" false-value="highlight_off" true-value-type="icon" false-value-type="icon"
            boolean-type="string"></o-table-cell-renderer-boolean>
        </o-table-column>
      </o-table>
    </div>
  </example-comp>
  <example-comp #ex5 collapsible="no" collapsed="no" [comp-name]="getComponentId('o-table-renderer-advance')" [files]="getFiles('o-table-renderer-advance')"
    (showSource)="onShowSource('o-table-renderer-advance', table5, ex5)">
    <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
      <o-table fxFill #table5 attr="table5" columns="CARDID;CARDTYPE;NUMCARD;TOTALCREDIT;TOTALREADY;BALANCE" visible-columns="NUMCARD;TOTALCREDIT;TOTALREADY;BALANCE"
        layout-padding attr="accounts" title="ACCOUNTS" [static-data]="getTableData5()" sort-columns="ACCOUNT:DESC" query-on-init="false"
        quick-filter="yes" insert-button="no" delete-button="no" refresh-button="no" pagination-controls="no">
        <o-table-columns-filter columns="NUMCARD;TOTALCREDIT;TOTALREADY;BALANCE"></o-table-columns-filter>
        <o-table-column attr="NUMCARD" title="NUMCARD">
          <o-table-column-renderer-cardtype></o-table-column-renderer-cardtype>
        </o-table-column>
        <o-table-column attr="TOTALCREDIT" type="currency" title="TOTALCREDIT" thousand-separator="." decimal-separator="," currency-symbol="€"
          currency-symbol-position="right"></o-table-column>
        <o-table-column attr="TOTALREADY" title="TOTALREADY">
          <o-table-column-renderer-totalready></o-table-column-renderer-totalready>
        </o-table-column>
        <o-table-column attr="BALANCE" title="BALANCE">
          <o-table-column-renderer-balance></o-table-column-renderer-balance>
        </o-table-column>

      </o-table>
    </div>
  </example-comp>


  <example-comp #ex3 collapsible="no" collapsed="no" [comp-name]="getComponentId('o-table-aggregate')" [files]="getFiles('o-table-aggregate')"
    (showSource)="onShowSource('o-table-aggregate', table3, ex3)">
    <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
      <o-table fxFill #table3 attr="table3" columns="PRODUCTID;PRODUCTNAME;UNITPRICE;UNITSINORDER;UNITSINSTOCK" visible-columns="PRODUCTNAME;UNITPRICE;UNITSINORDER;UNITSINSTOCK"
        layout-padding attr="products" title="PRODUCTOS" [static-data]="getTableData3()" query-on-init="false" quick-filter="yes"
        insert-button="no" refresh-button="no" pagination-controls="no">

        <o-table-columns-filter columns="PRODUCTNAME;UNITPRICE;UNITSINORDER;UNITSINSTOCK"></o-table-columns-filter>

        <o-table-column attr="UNITPRICE" title="UNITPRICE" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
          currency-symbol-position="right">
        </o-table-column>
        <o-table-column attr="UNITSINORDER" title="UNITSINORDER" type="integer"></o-table-column>
        <o-table-column attr="UNITSINSTOCK" title="UNITSINSTOCK" type="integer"></o-table-column>


        <o-table-column-aggregate attr="UNITPRICE" title="(Total)"></o-table-column-aggregate>
        <o-table-column-aggregate attr="UNITSINORDER" aggregate="avg" title="(Avg)"></o-table-column-aggregate>
        <o-table-column-aggregate attr="UNITSINSTOCK" aggregate="min" title="(Min)"></o-table-column-aggregate>
      </o-table>
    </div>
  </example-comp>

  <example-comp #ex6 collapsible="no" collapsed="no" [comp-name]="getComponentId('o-table-column-calculated')" [files]="getFiles('o-table-column-calculated')"
    (showSource)="onShowSource('o-table-column-calculated', table6, ex6)">
    <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
      <o-table fxFill #table6 attr="table6" columns="PRODUCTID;PRODUCTNAME;UNITSINSTOCK;UNITPRICE"
       visible-columns="PRODUCTNAME;UNITSINSTOCK;UNITPRICE;TOTALSTOCK;PROFITABILITY"
        layout-padding attr="products" title="PRODUCTOS" [static-data]="getTableData3()" query-on-init="false" quick-filter="yes"
        insert-button="no" refresh-button="no" pagination-controls="no">

        <o-table-columns-filter columns="PRODUCTNAME;UNITSINSTOCK;UNITPRICE;TOTALSTOCK;PROFITABILITY"></o-table-columns-filter>

        <o-table-column attr="UNITSINSTOCK" title="UNITSINSTOCK" type="integer"></o-table-column>
        <o-table-column attr="UNITPRICE" title="UNITPRICE" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
          currency-symbol-position="right">
        </o-table-column>

        <o-table-column-calculated attr="TOTALSTOCK" title="TOTALSTOCK" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
          currency-symbol-position="right" operation="UNITPRICE*UNITSINSTOCK"></o-table-column-calculated>

        <o-table-column-calculated attr="PROFITABILITY" title="PROFITABILITY" [function-operation]="profitability">
          <o-table-cell-renderer-boolean true-value="check_circle" false-value="highlight_off" true-value-type="icon" false-value-type="icon"
            boolean-type="string"></o-table-cell-renderer-boolean>
        </o-table-column-calculated>

        <o-table-column-aggregate attr="UNITPRICE" title="(Total)"></o-table-column-aggregate>
        <o-table-column-aggregate attr="UNITSINSTOCK" aggregate="avg" title="(Avg)"></o-table-column-aggregate>
        <o-table-column-aggregate attr="TOTALSTOCK" title="(Total of the stock)"></o-table-column-aggregate>
      </o-table>
    </div>
  </example-comp>

  <example-comp #ex4 collapsible="no" collapsed="no" [comp-name]="getComponentId('o-table-paginator')" [files]="getFiles('o-table-paginator')"
    (showSource)="onShowSource('o-table-paginator', table4, ex4)">
    <o-table #table4 layout-padding attr="branches" title="BRANCHES" columns="OFFICEID;NAME;ADDRESS;STARTDATE" pageable="no"
      visible-columns="OFFICEID;NAME;ADDRESS;STARTDATE" sort-columns="NAME" keys="OFFICEID" insert-button="no" refresh-button="no"
      [static-data]="getTableData4()">
      <o-table-column attr="OFFICEID" title="OFFICEID" width="15%"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" width="22%" type="date" format="LL"></o-table-column>
      <o-table-paginator page-size="5"></o-table-paginator>
    </o-table>
  </example-comp>

  <example-comp #ex5 collapsible="no" collapsed="no" [comp-name]="getComponentId('o-table-context-menu')" [files]="getFiles('o-table-context-menu')"
    (showSource)="onShowSource('o-table-context-menu', table5, ex5)">
    <o-table #table5 attr="table5" columns="PHOTO;NAME;ACCOUNT;BALANCE;STARTDATE" visible-columns="PHOTO;NAME;STARTDATE;ACCOUNT;BALANCE"
      layout-padding title="CUSTOMERS" [static-data]="getTableData()" query-on-init="false" insert-button="no" delete-button="no"
      refresh-button="no" pagination-controls="no">
      <o-table-column attr="PHOTO" orderable="no" searchable="no">
        <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes"> </o-table-cell-renderer-image>
      </o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" type="date"> </o-table-column>
      <o-table-column attr="BALANCE" title="BALANCE" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
        currency-symbol-position="right"></o-table-column>
      <o-table-context-menu [context-menu]="contextMenu"></o-table-context-menu>
    </o-table>
    <o-context-menu #contextMenu>
      <o-context-menu-item icon="grade" label="Item 1" (execute)="onExecute('Item 1', $event)"></o-context-menu-item>
      <o-context-menu-item icon="grade" label="Item 2" enabled="no"></o-context-menu-item>
      <o-context-menu-item label="Item 3" [visible]="getVisible" (execute)="onExecute('Item 3', $event)"></o-context-menu-item>
    </o-context-menu>
  </example-comp>

</div>