<div layout="column" layout-align="center top" layout-margin>

  <example-comp [comp-name]="getComponentId()" [files]="getFiles()" layout-fill>

    <div layout="row" layout-padding layout-fill>
      <o-button attr="alert" type="RAISED" label="ALERT_DIALOG" layout-padding (click)="showAlert($event)" ></o-button>
      <o-button attr="info" type="RAISED" label="INFO_DIALOG" layout-padding (click)="showInfo($event)" ></o-button>
      <o-button attr="warn" type="RAISED" label="WARNING_DIALOG" layout-padding (click)="showWarning($event)" ></o-button>
      <o-button attr="error" type="RAISED" label="ERROR_DIALOG" layout-padding (click)="showError($event)" ></o-button>
      <o-button attr="confirm" type="RAISED" label="CONFIRM_DIALOG" layout-padding (click)="showConfirm($event)"></o-button>
    </div>

  </example-comp>

</div>