<example-comp #ex collapsible="no" collapsed="no" comp-name="TABLE.EXAMPLE_COLUMN_CALCULATED" [files]="getFiles('o-table-column-calculated')"
  (showSource)="onShowSource('o-table-column-calculated', table, ex)">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
    <o-table fxFill #table attr="products" columns="PRODUCTID;PRODUCTNAME;UNITSINSTOCK;UNITPRICE" visible-columns="PRODUCTNAME;UNITSINSTOCK;UNITPRICE;TOTALSTOCK;PROFITABILITY"
      layout-padding title="PRODUCTS" [static-data]="getTableData()" query-on-init="false" quick-filter="yes" insert-button="no"
      refresh-button="no" pagination-controls="no" export-button="no">

      <o-table-columns-filter columns="PRODUCTNAME;UNITSINSTOCK;UNITPRICE;TOTALSTOCK;PROFITABILITY"></o-table-columns-filter>

      <o-table-column attr="UNITSINSTOCK" title="UNITSINSTOCK" type="integer"></o-table-column>
      <o-table-column attr="UNITPRICE" title="UNITPRICE" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
        currency-symbol-position="right">
      </o-table-column>

      <o-table-column-calculated attr="TOTALSTOCK" title="TOTALSTOCK" type="currency" thousand-separator="." decimal-separator=","
        currency-symbol="€" currency-symbol-position="right" operation="UNITPRICE*UNITSINSTOCK"></o-table-column-calculated>

      <o-table-column-calculated attr="PROFITABILITY" title="PROFITABILITY" [operation-function]="profitability">
        <o-table-cell-renderer-boolean render-true-value="check_circle" render-false-value="highlight_off" render-type="icon"></o-table-cell-renderer-boolean>
      </o-table-column-calculated>

      <o-table-column-aggregate attr="UNITPRICE" title="(Total)"></o-table-column-aggregate>
      <o-table-column-aggregate attr="UNITSINSTOCK" aggregate="avg" title="(Avg)"></o-table-column-aggregate>
      <o-table-column-aggregate attr="TOTALSTOCK" title="(Total of the stock)"></o-table-column-aggregate>
    </o-table>
  </div>
</example-comp>
