<example-comp comp-name="STATE_INPUTS" comp-desc="STATE_IMPUTS.DESC" [files]="files">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-percent-input attr="percent" label="{{ 'INPUT.BUTTON.PERCENT' | oTranslate }}" [data]="getValue()" value-base="100"></o-percent-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-percent-input attr="percent2" label="{{ 'INPUT.BUTTON.PERCENT' | oTranslate }}" [data]="getValue()" read-only="false"
        required="yes" value-base="100"></o-percent-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-percent-input attr="percent3" label="{{ 'INPUT.BUTTON.PERCENT' | oTranslate }}" enabled="no" [data]="getValue()" value-base="100"></o-percent-input>
    </div>
  </o-form>
</example-comp>
