<ul class="list-grid-container">
  <li class="list-grid-button"><a routerLink="/main/layout-manager/tab" routerLinkActive="active" fxFlex>&#8226; {{ 'LAYOUT_MANAGER.TABGROUP' | oTranslate }}</a></li>
  <li class="list-grid-button"><a routerLink="/main/layout-manager/dialog" routerLinkActive="active" fxFlex>&#8226; {{ 'LAYOUT_MANAGER.DIALOG' | oTranslate }}</a></li>
  <li class="list-grid-button"><a routerLink="/main/layout-manager/split-pane" routerLinkActive="active" fxFlex>&#8226; {{ 'LAYOUT_MANAGER.SPLITPANE' | oTranslate }}</a></li>
</ul>
<router-outlet></router-outlet>