<div class="o-flex-row main-container bg-level-1">
  <collapsible-menu>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/grid/basic" routerLinkActive="active">{{ 'GRID.BUTTON.BASIC' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/grid/fixed" routerLinkActive="active">{{ 'GRID.BUTTON.FIXED' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/grid/hybrid" routerLinkActive="active">{{ 'GRID.BUTTON.HYBRID' | oTranslate }}</a>
  </collapsible-menu>
  <div class="left-border o-flex">
    <header-button-menu comp-name="{{ 'GRID.COMPONENT' | oTranslate }}" comp-desc="{{ 'GRID.COMPONENT.DESC' | oTranslate }}">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>
</div>
