<div fxLayout="row" class="main-container bg-level-06">
  <collapsible-menu>
    <a class="menu-item" routerLink="/main/grid/basic" routerLinkActive="active" fxFlex>{{ 'GRID.BUTTON.BASIC' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/grid/fixed" routerLinkActive="active" fxFlex>{{ 'GRID.BUTTON.FIXED' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/grid/hybrid" routerLinkActive="active" fxFlex>{{ 'GRID.BUTTON.HYBRID' | oTranslate }}</a>
  </collapsible-menu>
  <div fxFlex="calc(100% - 300px)" class="left-border">
    <header-button-menu comp-name="{{ 'GRID.COMPONENT' | oTranslate }}" comp-desc="A component for display multiple information on a grid format.">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>
</div>
