label.input-comp-title {
  // font-weight: bold;
  font-size: 20px;
  // color: #464646;
  padding-bottom: 6px;
}

.main-container {

  .left-border {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: #0000001E;
  }

  .menu-item {
    display: block;
    padding: 10px 0 10px 10px;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 32px;
    font-size: 14px;
  }

  .active {
    border-style: solid;
    border-width: 0 0 0 3px;
  }

  #collapsible {
    margin: 12px 12px 12px 12px;
    width: 200px;
    height: fit-content;
    max-height: 100%;
    min-height: 0;
    overflow: auto;

    .mat-expansion-panel {
      overflow-y: auto;
      min-height: 0;
      height: fit-content;

      .mat-expansion-panel-header {
        margin-bottom: 20px;
        width: 100%;

        .mat-content {
          .mat-icon {
            transform: translate(155px, 0);
          }

          span {
            transform: translate(-30px, 0);
            font-weight: bold;
            font-size: 15px;
          }

        }
      }
    }
  }
}

.mat-expansion-indicator {
  display: none;
}

.o-column-collapsible>.o-container.mat-expansion-panel .mat-expansion-panel-content .mat-expansion-panel-body>.o-container-scroll {
  padding: 0;
}

.o-column-collapsible>.o-container.mat-expansion-panel .mat-expansion-panel-content {
  height: fit-content;
}
