<div fxLayout="row" class="main-container">
  <o-column-collapsible *ngIf="expanded" #collapsible title="{{'SELECTION' | oTranslate}}" icon="menu" (click)="status()" id="collapsible"
    expanded="true">

    <a class="menu-item" routerLink="/main/inputs/checkbox" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.CHECKBOX' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/combo" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.COMBO' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/currency" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.CURRENCY' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/date" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.DATE' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/daterange" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/email" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.EMAIL' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/file" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.FILE' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/hour" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.HOUR' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/html" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.HTML' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/integer" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/listpicker" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.LISTPICKER' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/nif" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.NIF' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/password" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/percent" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.PERCENT' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/phone" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.PHONE' | oTranslate }} <span class="new">new</span></a>
    <a class="menu-item" routerLink="/main/inputs/radio" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.RADIO' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/real" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.REAL' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/slidetoggle" routerLinkActive="active" fxFlex>{{'INPUT.BUTTON.SLIDE_TOGGLE' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/slider" routerLinkActive="active" fxFlex>{{'INPUT.BUTTON.SLIDER' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/text" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.TEXT' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/time" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.TIME' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/inputs/textarea" routerLinkActive="active" fxFlex>{{ 'INPUT.BUTTON.TEXTAREA' | oTranslate }}</a>

  </o-column-collapsible>
  <div fxFlex="calc(100% - 300px)" class="left-border">
    <header-button-menu comp-name="{{ 'INPUTS.COMPONENTS' | oTranslate }}" comp-desc="All the components who can get information from the user.">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>
</div>
