label.input-comp-title {
  font-size: 20px;
  padding-bottom: 6px;
}

.hide-overflow {
  form {
    >div {
      overflow: hidden;
    }
  }

}

o-text-input{
  margin-bottom: 5px;
}

.new {
  margin: 5px 5px 5px auto;
  padding: 0 2px 0 2px;
  align-self: right;
  border-width: 1px;
  border-style: dashed;
  border-radius: 4px;
  font-size: 15px;
  font-weight: bold;
}