<div class="o-flex-row main-container bg-level-1">
  <collapsible-menu>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/overview" routerLinkActive="active">{{ 'INPUTS.OVERVIEW' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/checkbox" routerLinkActive="active">{{ 'INPUT.BUTTON.CHECKBOX' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/combo" routerLinkActive="active">{{ 'INPUT.BUTTON.COMBO' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/currency" routerLinkActive="active">{{ 'INPUT.BUTTON.CURRENCY' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/date" routerLinkActive="active">{{ 'INPUT.BUTTON.DATE' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/daterange" routerLinkActive="active">{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/email" routerLinkActive="active">{{ 'INPUT.BUTTON.EMAIL' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/file" routerLinkActive="active">{{ 'INPUT.BUTTON.FILE' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/hour" routerLinkActive="active">{{ 'INPUT.BUTTON.HOUR' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/html" routerLinkActive="active">{{ 'INPUT.BUTTON.HTML' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/integer" routerLinkActive="active">{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/listpicker" routerLinkActive="active">{{ 'INPUT.BUTTON.LISTPICKER' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/nif" routerLinkActive="active">{{ 'INPUT.BUTTON.NIF' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/password" routerLinkActive="active">{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/percent" routerLinkActive="active">{{ 'INPUT.BUTTON.PERCENT' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/phone" routerLinkActive="active">{{ 'INPUT.BUTTON.PHONE' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/radio" routerLinkActive="active">{{ 'INPUT.BUTTON.RADIO' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/real" routerLinkActive="active">{{ 'INPUT.BUTTON.REAL' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/slidetoggle" routerLinkActive="active">{{ 'INPUT.BUTTON.SLIDETOGGLE' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/slider" routerLinkActive="active">{{ 'INPUT.BUTTON.SLIDER' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/text" routerLinkActive="active">{{ 'INPUT.BUTTON.TEXT' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/time" routerLinkActive="active">{{ 'INPUT.BUTTON.TIME' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/inputs/textarea" routerLinkActive="active">{{ 'INPUT.BUTTON.TEXTAREA' | oTranslate }}</a>
  </collapsible-menu>
  <div class="left-border o-flex">
    <header-button-menu comp-name="{{ 'INPUTS.' + selectedComponent | oTranslate }}"
      comp-desc="{{ 'INPUTS.' + selectedComponent + '.DESC' | oTranslate }}">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>
</div>
