label.input-comp-title {
  font-size: 20px;
  padding-bottom: 6px;
}

.hide-overflow {
  form {
    >div {
      overflow: hidden;
    }
  }

}

o-text-input {
  margin-bottom: 5px;
}

input-radio{
  .scrolling.o-scroll{
    overflow: hidden;
  }
}
