<div fxLayout="row wrap" class="input-button-container">
  <button mat-raised-button [routerLink]="['/inputs/text']" fxFlex layout-padding>{{ 'INPUT.BUTTON.TEXT' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/date']" fxFlex layout-padding>{{ 'INPUT.BUTTON.DATE' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/integer']" fxFlex layout-padding>{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/real']" fxFlex layout-padding>{{ 'INPUT.BUTTON.REAL' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/percent']" fxFlex layout-padding>{{ 'INPUT.BUTTON.PERCENT' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/currency']" fxFlex layout-padding>{{ 'INPUT.BUTTON.CURRENCY' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/nif']" fxFlex layout-padding>{{ 'INPUT.BUTTON.NIF' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/email']" fxFlex layout-padding>{{ 'INPUT.BUTTON.EMAIL' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/password']" fxFlex layout-padding>{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/textarea']" fxFlex layout-padding>{{ 'INPUT.BUTTON.TEXTAREA' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/file']" fxFlex layout-padding>{{ 'INPUT.BUTTON.FILE' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/checkbox']" fxFlex layout-padding>{{ 'INPUT.BUTTON.CHECKBOX' | oTranslate }}</button>
</div>
<div layout-padding fxLayout="row" style="margin-top: 16px;">
  {{ 'INPUTS.SERVICES' | oTranslate }}
</div>
<div fxLayout="row wrap" class="input-button-container">
  <button mat-raised-button [routerLink]="['/inputs/combo']" fxFlex layout-padding>{{ 'INPUT.BUTTON.COMBO' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/inputs/listpicker']" fxFlex layout-padding>{{ 'INPUT.BUTTON.LISTPICKER' | oTranslate }}</button>
</div>
<router-outlet></router-outlet>
