<example-comp #ex collapsible="no" collapsed="no" comp-name="TABLE.EXAMPLE_PAGINACION" [files]="getFiles('o-table-paginator')"
  (showSource)="onShowSource('o-table-paginator', table, ex)">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
    <o-table #table attr="branches" title="BRANCHES" columns="OFFICEID;NAME;ADDRESS;STARTDATE" pageable="no" visible-columns="OFFICEID;NAME;ADDRESS;STARTDATE"
      sort-columns="NAME" keys="OFFICEID" insert-button="no" refresh-button="no" export-button="no" [static-data]="data"
      layout-padding fxFill>
      <o-table-column attr="OFFICEID" title="OFFICEID" width="15%"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" width="22%" type="date" format="LL"></o-table-column>
      <o-table-paginator page-size="5"></o-table-paginator>
    </o-table>
  </div>
</example-comp>
