.padding-3 {
  padding: 3px;
}

table-basic,
table-fixed,
table-pagination,
table-horizontal-scroll {
  display: block;
  height: calc(100% - 79px);

  .example-comp {
    height: 100%;

    &>section {
      height: 100%;

      screen-configuration {
        display: block;
        height: 100%;

        >div {
          height: 100% !important;
        }
      }
    }
  }
}

.menu-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.menu-title-collapsible {
  .o-container-title {
    >span {
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
  }
}

.o-column-collapsible {
  margin-top: 10px;

  >.o-container {
    .mat-expansion-panel-header {
      padding-left: 0 !important;
      margin-left: 0 !important;

      .o-container-title {
        >span {
          padding-left: 0 !important;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}