<div class="o-flex-row main-container bg-level-1">
  <collapsible-menu>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/basic" routerLinkActive="active">{{ 'TABLE.BUTTON.BASIC' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/fixed" routerLinkActive="active">{{ 'TABLE.BUTTON.FIXED' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/renderer" routerLinkActive="active">{{ 'TABLE.BUTTON.RENDERERS' | oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/custrenderer" routerLinkActive="active">{{ 'TABLE.BUTTON.CUSTOM_RENDERERS' |
      oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/editor" routerLinkActive="active">{{ 'TABLE.BUTTON.EDITORS' | oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/total" routerLinkActive="active">{{ 'TABLE.BUTTON.TOTALS' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/calculatedcolumn" routerLinkActive="active">{{ 
      'TABLE.BUTTON.CALCULATED_COLUMN' |
      oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/pagination" routerLinkActive="active">{{ 'TABLE.BUTTON.PAGINATION' |
      oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/contextmenu" routerLinkActive="active">{{ 'TABLE.BUTTON.CONTEXT_MENU' |
      oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/horizontalscroll" routerLinkActive="active">{{ 
      'TABLE.BUTTON.HORIZONTAL_SCROLL' |
      oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/insertablerow" routerLinkActive="active">{{ 'TABLE.BUTTON.INSERTABLE_ROW' |
      oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/align" routerLinkActive="active">{{ 'TABLE.BUTTON.ALIGN' | oTranslate }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/multipleSort" routerLinkActive="active">{{ 'TABLE.BUTTON.MULTIPLE_SORT' |
      oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/rowexpandable" routerLinkActive="active">{{ 'TABLE.BUTTON.ROW_EXPANDABLE' |
      oTranslate
      }}</a>
    <a mat-button class="menu-item o-flex" routerLink="/main/data/table/rowgroup" routerLinkActive="active">{{ 'TABLE.BUTTON.ROW_GROUPING' |
      oTranslate
      }}</a>
  </collapsible-menu>

  <div class="left-border o-flex o-flex-column">
    <header-button-menu comp-name="{{ 'TABLE.COMPONENT' | oTranslate }}" comp-desc="{{ 'TABLE.COMPONENT.DESC' | oTranslate }}">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>

</div>
