.padding-3 {
  padding: 3px;
}

data-structure>div {
  height: 100%;

  >mat-sidenav-container {
    height: 100%;
  }
}

example-component {
  display: block;
  height: 100%;
}

/*
table-basic {
  height: calc(100% - 67px);
  .sidenav-container {
    height: 810px !important;

    .sidenav {
      height: 810px;

      .mat-drawer-inner-container {
        overflow: hidden;

      }
    }
  }
}*/
table-basic {
  height: fit-content;

  section {
    height: fit-content;

    .sidenav-container {
      height: fit-content;

      .sidenav {
        height: fit-content;

        .mat-drawer-inner-container {
          overflow: hidden;
          height: fit-content;
        }
      }
    }
  }
}