<o-side-menu #oSideMenu title="">
  <o-side-menu-group>
    <o-side-menu-item title="HOME" route="/main/home"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>

    <div layout="row"><span class="side-menu-group-title" layout-padding>{{ 'INPUT' | oTranslate }}</span></div>
    <o-side-menu-item title="INPUTS" route="/main/inputs"></o-side-menu-item>
    <o-side-menu-item title="CHECKBOX" route="/main/checkbox"></o-side-menu-item>
    <o-side-menu-item title="COMBO" route="/main/combo"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>

    <div layout="row"><span class="side-menu-group-title" layout-padding>{{ 'BUTTON' | oTranslate }}</span></div>
    <o-side-menu-item title="BUTTONS" route="/main/buttons"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>

    <div layout="row"><span class="side-menu-group-title" layout-padding>{{ 'DATA' | oTranslate }}</span></div>
    <o-side-menu-item title="LIST" route="/main/lists"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>


    <div layout="row"><span class="side-menu-group-title" layout-padding>{{ 'LAYOUT' | oTranslate }}</span></div>
    <o-side-menu-item title="CONTAINERS" route="/main/containers"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>



    <div layout="row"><span class="side-menu-group-title" layout-padding>{{ 'MODALS' | oTranslate }}</span></div>
    <o-side-menu-item title="DIALOGS" route="/main/dialogs"></o-side-menu-item>


  </o-side-menu-group>
</o-side-menu>