<o-side-menu title="APP_TITLE">
  <o-side-menu-group>
    <o-side-menu-item title="HOME" route="/main/home"></o-side-menu-item>
    <o-side-menu-item title="BUTTONS" route="/main/buttons"></o-side-menu-item>
    <o-side-menu-item title="CHECKBOX" route="/main/checkbox"></o-side-menu-item>
    <o-side-menu-item title="COMBO" route="/main/combo"></o-side-menu-item>
    <o-side-menu-item title="CONTAINERS" route="/main/containers"></o-side-menu-item>
    <o-side-menu-item title="TEXT_INPUTS" route="/main/inputs"></o-side-menu-item>
    <o-side-menu-separator></o-side-menu-separator>
  </o-side-menu-group>
</o-side-menu>