<example-comp #ex collapsible="no" collapsed="no" comp-name="TABLE.EXAMPLE_SIMPLE_TEMPLATE_ROW_EXPANDABLE"
  comp-desc="TABLE.EXAMPLE_SIMPLE_TEMPLATE_ROW_EXPANDABLE_DESC" [files]="getFiles('o-table-row-expandable')">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding >
    <o-table fxFill #table service-type="DummyService" service="customers" entity="customer" keys="CUSTOMERID" columns="CUSTOMERID;SURNAME;NAME"
      title="CUSTOMERS" insert-button="no" delete-button="no" refresh-button="no" pagination-controls="yes" detail-mode="none" export-button="no"
      query-rows="10" fixed-header="yes">
      <o-table-row-expandable>
        <ng-template let-row>
          <o-column title="CONTACT_DATA" icon="info" class="vertical-margin-10" layout-gap="12px">
            <div fxLayout="row wrap" fxLayoutGap="14px">
              <span fxFlex="30%"><strong>{{'ADDRESS' | oTranslate}}</strong>: {{row.ADDRESS}}</span>
              <span fxFlex="20%"><strong>{{'COUNTRY' | oTranslate}}</strong>: {{row.COUNTRY}}</span>
              <span fxFlex="20%"><strong>{{'STATE' | oTranslate}}</strong>: {{row.STATE}}</span>
              <span fxFlex="20%"><strong>{{'ZIPCODE' | oTranslate}}</strong>: {{row.ZIPCODE}}</span>
            </div>
            <div fxLayout="row wrap" fxLayoutGap="14px">
              <span fxFlex="40%"><strong>{{'EMAIL' | oTranslate}}</strong>: {{row.EMAIL}}</span>
              <span fxFlex="40%"><strong>{{'PHONE' | oTranslate}}</strong>: {{row.PHONE}}</span>
            </div>
          </o-column>
        </ng-template>
      </o-table-row-expandable>

    </o-table>
  </div>
</example-comp>
