.input-button-container button.mat-raised-button {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  margin: 6px;
}

.list-examples {
  [hidden] {
    visibility: hidden !important;
  }

  .padding-3 {
    padding: 3px;
  }

}
