[hidden] {
  visibility: hidden !important;
}

.padding-3 {
  padding: 3px;
}

.mat-slide-toggle {
  margin: 16px 0;
}



// .mat-list .mat-list-item .mat-list-item-content o-list-item-avatar.o-custom-list-item .mat-list-text,
// .mat-nav-list .o-custom-list-item .mat-list-item .mat-list-item-content o-list-item-avatar.o-custom-list-item .mat-list-text {
//   padding: 0 16px;
//   // background:red;
// }