<ul class="list-grid-container">
  <li class="list-grid-button"><a routerLink="/main/lists/list-item-text" routerLinkActive="active" fxFlex>&#8226; {{ 'LIST.LIST_ITEM_TEXT' | oTranslate }}</a></li>
  <li class="list-grid-button"><a routerLink="/main/lists/list-item-avatar" routerLinkActive="active" fxFlex>&#8226; {{ 'LIST.LIST_ITEM_AVATAR' | oTranslate }}</a></li>
  <li class="list-grid-button"><a routerLink="/main/lists/list-item-card" routerLinkActive="active" fxFlex>&#8226; {{ 'LIST.LIST_ITEM_CARD' | oTranslate }}</a></li>
  <li class="list-grid-button"><a routerLink="/main/lists/list-item-card-image" routerLinkActive="active" fxFlex>&#8226; {{ 'LIST.LIST_ITEM_CARD_IMAGE' | oTranslate }}</a></li>
  <li class="list-grid-button"><a routerLink="/main/lists/list-item-custom" routerLinkActive="active" fxFlex>&#8226; {{ 'LIST.LIST_ITEM_CUSTOM' | oTranslate }}</a></li>
</ul>
<router-outlet></router-outlet>
