<div fxLayout="row wrap" class="input-button-container">
  <button mat-raised-button [routerLink]="['/lists/list-item-text']" fxFlex layout-padding>{{ 'LIST.LIST_ITEM_TEXT' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/lists/list-item-avatar']" fxFlex layout-padding>{{ 'LIST.LIST_ITEM_AVATAR' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/lists/list-item-card']" fxFlex layout-padding>{{ 'LIST.LIST_ITEM_CARD' | oTranslate }}</button>
  <button mat-raised-button [routerLink]="['/lists/list-item-card-image']" fxFlex layout-padding>{{ 'LIST.LIST_ITEM_CARD_IMAGE' | oTranslate }}</button>
</div>
<router-outlet></router-outlet>
