@mixin inputs-card-theme($theme) {
  .new {
    border-color: var(--o-fg-base);
    background-color: var(--o-bg-background);
    color: var(--o-fg-text);
  }

  .img-container {
    background-color: var(--o-bg-level-08);
  }
}
