mat-card {
  width: 272px;
  height: 272px;
  margin: 15px;
  padding: 0 !important;

  .img-container {
    height: 120px;
    margin: 0;
  }

  .new {
    margin: 10px 0 5px 0;
    margin-left: auto;
    padding: 4px;
    align-self: right;
    border-width: 1px;
    border-style: dashed;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
  }

  mat-card-header {
    margin-left: 20px;
    margin-right: 20px;

    .mat-card-header-text {
      margin: 0px;

      mat-card-title {
        font-size: 18px !important;
        margin: 16px 0 5px 0 !important;
      }
    }
  }

  mat-card-content {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}