<example-comp comp-name="INPUTS.FILE" comp-desc="INPUTS.FILE.DESC" [files]="files">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-file-input attr="file" label="{{ 'INPUT.BUTTON.FILE' | oTranslate }} (edit mode)" read-only="no" required="yes" accept-file-type=".png;.jpg"
        max-file-size="10000" multiple="yes" layout-padding ></o-file-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-file-input attr="file2" label="{{ 'INPUT.BUTTON.FILE' | oTranslate }} (disabled)" enabled="no" layout-padding></o-file-input>
    </div>
  </o-form>
</example-comp>
