<ul class="list-grid-container">
    <li class="list-grid-button"><a routerLink="/main/grid/basic" routerLinkActive="active" fxFlex>&#8226; {{ 'GRID.BUTTON.BASIC' | oTranslate }}</a></li>
    <li class="list-grid-button"><a routerLink="/main/grid/fixed" routerLinkActive="active" fxFlex>&#8226; {{ 'GRID.BUTTON.FIXED' | oTranslate }}</a></li>
    <li class="list-grid-button"><a routerLink="/main/grid/hybrid" routerLinkActive="active" fxFlex>&#8226; {{ 'GRID.BUTTON.HYBRID' | oTranslate }}</a></li>
  </ul>
  <router-outlet></router-outlet>