<example-comp #ex1 collapsible="no" collapsed="no" fxFill comp-name="GRID.EXAMPLE" [files]="files" (showSource)="onShowSource(grid, ex1)"
  class="list-examples">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
    <o-column elevation="1" fxFlex="60" layout-align="center">
      <o-grid #grid columns="id;name;username;email;companyname" keys="id" [static-data]="getStaticData()" [title]="gridTitle.value"
        [cols]="columns" [show-page-size]="showPageSizeToggle.checked" [orderable]="showSortToggle.checked" [quick-filter]="quickFilterToggle.checked"
        grid-item-height="1:3" sortable-columns="name;email" [controls]="showControlsToggle.checked" [page-size]="pagesize" [sort-column]="sortColumn">
        <o-grid-item *ngFor="let list of grid.dataArray">
          <o-column layout-padding class="container-item">
            <img [src]="list.thumbnailUrl" style="margin-top:8px">
            <h4>{{list.name}}</h4>
            <div class="phone">
              <mat-icon>phone</mat-icon> <span> {{list.phone}} </span></div>
            <div class="email">
              <mat-icon>email</mat-icon> <span>{{list.email}} </span></div>
            <div class="domain">
              <mat-icon>domain</mat-icon> <span> {{list.companyname}} </span></div>
            <div class="website">
              <mat-icon>website</mat-icon> <span> {{list.website}} </span></div>
            <div class="body">
              {{list.body}}
            </div>
          </o-column>
        </o-grid-item>
      </o-grid>

    </o-column>
    <o-column attr="conf" title-label="{{ 'GRID.CONFIGURATION' | oTranslate }}" elevation="0" fxFlex="40" layout-padding layout-align="center">
      <div fxLayout="row" layout-padding fxLayoutAlign="center">
        <mat-form-field fxFlex="95">
          <input matInput #gridTitle placeholder="{{ 'TITLE' | oTranslate }}" value="Grid">
        </mat-form-field>
      </div>
      <div fxLayout="column" fxLayoutAlign="center start" layout-padding>
        <div fxLayout="row" fxFlex="100">
          <mat-slide-toggle #showControlsToggle [checked]="true" >
            {{ 'GRID.SHOW_CONTROLS' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle #quickFilterToggle [checked]="true" >
            {{ 'QUICK_FILTER' | oTranslate }}
          </mat-slide-toggle>
        </div>
        <o-column layout-padding layout-align="start" title-label="{{ 'ITEM_CONFIGURATION' | oTranslate }}" elevation="0">
            <div fxLayout="row">
              <mat-slide-toggle #showPageSizeToggle [checked]="true" fxFlex>
                {{ 'GRID.SHOW_PAGINATION' | oTranslate }}
              </mat-slide-toggle>
              <mat-form-field fxFlex="30" *ngIf="showPageSizeToggle.checked">
                <input matInput #pageSizeInput type="number" placeholder="{{ 'GRID.PAGE_SIZE' | oTranslate }}" [(ngModel)]="pagesize" min="1"
                  max="8" value="32">
              </mat-form-field>
            </div>
          </o-column>
        <o-column layout-padding layout-align="start" title-label="{{ 'ITEM_CONFIGURATION' | oTranslate }}" elevation="0">
          <div fxLayout="row">
            <mat-slide-toggle #showSortToggle [checked]="true" fxFlex="50">
              {{ 'GRID.SHOW_SORT' | oTranslate }}
            </mat-slide-toggle>
            <mat-form-field fxFlex="50" *ngIf="showSortToggle.checked">
                <mat-select placeholder="Sort column" [(ngModel)]="sortColumn">
                  <mat-option *ngFor="let column of ['name','email']" [value]="column">
                    {{column }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-slide-toggle #defaultColsValueToggle checked="true" fxFlex="70">
              {{ 'GRID.DEFAULT_COLS_VALUE' | oTranslate }}
            </mat-slide-toggle>
            <mat-form-field fxFlex="30" *ngIf="!defaultColsValueToggle.checked">
              <input matInput #colsInput type="number" placeholder="{{ 'NUM_COLUMNS' | oTranslate }}" [(ngModel)]="columns" min="1" max="8"
                value="4">
            </mat-form-field>
          </div>
        </o-column>
      </div>
    </o-column>
  </div>
</example-comp>