<div fxLayout="row" class="main-container bg-level-1">
  <div fxLayout="row" fxLayoutAlign="center start" class="card-container">
    <a routerLink="/main/media/image">
      <inputs-card comp-name="image" header="{{ 'IMAGE.COMPONENT' | oTranslate }}" content="{{ 'IMAGE.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </a>
    <a routerLink="/main/media/gallery">
      <inputs-card comp-name="gallery" header="{{ 'GALLERY.COMPONENT' | oTranslate }}" content="{{ 'GALLERY.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </a>
  </div>
</div>
