<div class="o-flex-column o-layout-align-end-center o-flex-fill">
  <img src="assets/images/ontimize_web_log.png">
  <span class="info">Web application framework based on Angular for building business software.</span>
  <mat-divider></mat-divider>
  <span class="info">ontimize-web&#64;imatia.com</span>

  <div class="o-flex-row info-container" style="justify-content: space-evenly; align-items: stretch">

    <div class="o-flex-row" style="justify-content: flex-end; align-items: stretch">
      <div class="o-flex-column o-layout-align-start-center">
        <span class="info-title">Links:</span>
        <div class="o-flex-row o-layout-align-center-center o-gap-16 links o-flex">
          <a href="https://github.com/OntimizeWeb" aria-label="GitHub Repository" target="_blank">
            <img src="./assets/images/github.png" class="mat-icon">
          </a>
          <a href="https://ontimizeweb.github.io/docs/" aria-label="OntimizeWeb Docs" target="_blank">
            <img src="./assets/images/ontimize.png" class="mat-icon-ontimize">
          </a>
        </div>
      </div>
    </div>

    <div class="o-flex-row o-layout-align-start-center o-flex">
      <div class="o-flex-column o-layout-align-center-start dependencies o-flex">
        <span class="info-title">OntimizeWeb modules:</span>
        <span>ontimize-web-ngx&#64;{{ vCore }}</span>
        <span>ontimize-web-ngx-gallery&#64;{{ vGallery }}</span>
        <span>ontimize-web-ngx-extra-components&#64;{{ vExtraComponentes }}</span>
      </div>
    </div>

  </div>

</div>
