<div class="o-flex-row o-layout-align-start-center header-container">
  <div class="o-flex-column o-layout-align-start-start">
    <div class="o-flex-row o-layout-align-start-center">
      @if (!expanded) {
        <button mat-icon-button (click)="expand()" class="col-button">
          <mat-icon>menu</mat-icon>
        </button>
      }

      <h3>{{compName}}</h3>
    </div>
    @if (expanded) {
      <p>{{compDesc}}</p>
    }
    @if (!expanded) {
      <p class="description">{{compDesc}}</p>
    }
  </div>
</div>
