.header-container {
  margin-top: 10px;

  .col-button {
    width: 32px;
    height: 32px;
    background-color: transparent;
    padding: 3px;
    margin: 0 10px 0 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #0000001E;
  }

  p {
    margin: 3px;
  }

  h3 {
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
  }

  .description{
    margin-left: 55px;
  }
}
