@use '@angular/material'as mat;

@mixin collapsible-menu-theme($theme) {

  $primary: map-get($theme, color, primary);
  $accent: map-get($theme, color, accent);
  $warn: map-get($theme, color, warn);
  $background: map-get($theme, color, background);
  $foreground: map-get($theme, color, foreground);

  #collapsible {

    .menu-item {
      color: mat.get-color-from-palette($foreground, text);
    }

  }

}