#collapsible {
  margin: 12px 12px 12px 12px;
  width: 200px;
  height: fit-content;
  max-height: 100%;
  min-height: 0;
  overflow: auto;

  .mat-expansion-panel {
    overflow-y: auto;
    min-height: 0;
    height: fit-content;
  }
}

.mat-expansion-indicator {
  display: none;
}

.o-column-collapsible >.o-container.mat-expansion-panel .mat-expansion-panel-content {
  height: fit-content;
}