<example-comp #ex collapsible="no" collapsed="no" fxFill comp-name="GRID.EXAMPLE" [files]="getFiles('o-grid-basic')"
  (showSource)="onShowSource(grid, ex)" class="list-examples">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
    <o-column elevation="1" fxFlex="60" layout-align="center">
      <o-grid #grid attr="grid" [title]="gridTitle.value" [static-data]="getStaticData()" columns="id;name;username;email;companyname"
        keys="id" [cols]="columns" [query-rows]="pagesize" [show-page-size]="showPageSizeToggle.checked"
        page-size-options="4;8;16" [orderable]="showSortToggle.checked" [quick-filter]="quickFilterToggle.checked"
        grid-item-height="1:2" sortable-columns="name;email" [sort-column]="sortColumn" [controls]="showControlsToggle.checked"
        [refresh-button]="refreshButtonToggle.checked" [pagination-controls]="paginationControlsToggle.checked"
        [gutter-size]="gutterSizeInput.value">
        <o-grid-item *ngFor="let list of grid.dataArray">
          <o-column layout-padding class="container-item">
            <img [src]="list.thumbnailUrl" style="margin-top:8px">
            <h4>{{ list.name }}</h4>
            <div class="phone">
              <mat-icon>phone</mat-icon> <span> {{ list.phone }} </span>
            </div>
            <div class="email">
              <mat-icon>email</mat-icon> <span>{{ list.email }} </span>
            </div>
            <div class="domain">
              <mat-icon>domain</mat-icon> <span> {{ list.companyname }} </span>
            </div>
            <div class="website">
              <mat-icon>website</mat-icon> <span> {{ list.website }} </span>
            </div>
            <div class="body">
              {{list.body}}
            </div>
          </o-column>
        </o-grid-item>
      </o-grid>
    </o-column>
    <o-column attr="conf" title="{{ 'GRID.CONFIGURATION' | oTranslate }}" fxFlex="40" layout-align="center"
      layout-padding>
      <mat-form-field>
        <input matInput #gridTitle placeholder="{{ 'TITLE' | oTranslate }}" value="Grid">
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-form-field fxFlex="50">
          <input matInput #colsInput type="number" placeholder="{{ 'GRID.NUM_COLUMNS' | oTranslate }}" [(ngModel)]="columns"
            min="1">
        </mat-form-field>
        <mat-form-field fxFlex="50">
            <input matInput #gutterSizeInput type="number" placeholder="{{ 'GRID.GUTTER_SIZE' | oTranslate }}" [(ngModel)]="gutterSize"
              min="1">
          </mat-form-field>
      </div>
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <mat-slide-toggle #showControlsToggle [checked]="true" fxFlex>
            {{ 'GRID.SHOW_CONTROLS' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle #refreshButtonToggle [checked]="true" fxFlex>
            {{ 'REFRESH_BUTTON' | oTranslate }}
          </mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <mat-slide-toggle #showPageSizeToggle [checked]="true" fxFlex>
            {{ 'GRID.SHOW_PAGINATION' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field fxFlex>
            <input matInput #pageSizeInput type="number" placeholder="{{ 'GRID.PAGE_SIZE' | oTranslate }}" [(ngModel)]="pagesize"
              min="1">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <mat-slide-toggle #showSortToggle [checked]="true" fxFlex>
            {{ 'GRID.SHOW_SORT' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field fxFlex>
            <mat-select placeholder="Sort column" [(ngModel)]="sortColumn" (change)="reloadGridData(grid)">
              <mat-option *ngFor="let column of ['name','email']" [value]="column">
                {{ column }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <mat-slide-toggle #quickFilterToggle [checked]="true" fxFlex>
            {{ 'QUICK_FILTER' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle #paginationControlsToggle [checked]="false" fxFlex>
            {{ 'GRID.PAGINATION_CONTROLS' | oTranslate }}
          </mat-slide-toggle>
        </div>

      </div>
    </o-column>
  </div>
</example-comp>