<div fxLayout="column" fxLayoutAlign="center top" layout-margin>

  <example-comp [comp-name]="getComponentId()" [files]="getFiles()" fxFill>
    <o-form editable-detail="false" show-header="no">

      <div fxLayout="row" layout-padding fxFill>
        <o-combo attr="combo" label="o-combo (read-only)" layout-padding [static-data]="getComboData()" [data]="getComboValue()"
          value-column="key" columns="key;value" visible-columns="value" tooltip="This is an awesome tooltip!" tooltip-position="below"></o-combo>
        <o-combo #combo attr="combo-editable" label="o-combo" layout-padding style="min-width:200px;" [static-data]="getComboData()" [data]="getComboValue()"
          value-column="key" columns="key;value" visible-columns="value" required="yes"></o-combo>
        <o-combo attr="combo-disabled" label="o-combo-disabled (read-only)" enabled="no" layout-padding [static-data]="getComboData()"
          [data]="getComboValue()" value-column="key" columns="key;value" visible-columns="value" ></o-combo>
      </div>

    </o-form>
  </example-comp>

</div>
