<div fxLayout="row" fxLayoutAlign="end center" class="selector-mode">
  <mat-icon>desktop_mac</mat-icon>{{'MODE.DESKTOP' | oTranslate}}
  <mat-slide-toggle #mode>
    <mat-icon>smartphone</mat-icon> {{'MODE.MOBILE'| oTranslate}}
  </mat-slide-toggle>
</div>

<example-comp #ex1 comp-name="STATE_INPUTS" comp-desc="STATE_IMPUTS.DESC" [files]="files" (showSource)="onShowSource('o-daterange', ex1)">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-daterange-input attr="daterange1" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" required="yes" [data]="valueTimestamp">
      </o-daterange-input>
    </div>
    <div fxLayout="column" layout-padding>
      <o-daterange-input #daterange2 attr="daterange2" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" read-only="no" required="yes"
        [data]="valueTimestamp" clear-button="yes" format="LL" separator=" to " [mode]="mode.checked?'mobile':'desktop'">
      </o-daterange-input>
      <button (click)="onClick($event,daterange2)">mostra valor</button>
    </div>
    <div fxLayout="column" layout-padding>
      <o-daterange-input #daterange3 attr="daterange3" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" read-only="no" required="yes"
        [data]="valueString" clear-button="yes" format="LL" separator=" to " [mode]="mode.checked?'mobile':'desktop'" value-type="string">
      </o-daterange-input>
      <button (click)="onClick($event,daterange3)">mostra valor</button>
    </div>
    <div fxLayout="column" layout-padding>
      <o-daterange-input #daterange4 attr="daterange4" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" read-only="no" required="yes"
        [data]="valueDate" clear-button="yes" format="LL" separator=" to " [mode]="mode.checked?'mobile':'desktop'" value-type="date">
      </o-daterange-input>
      <button (click)="onClick($event,daterange4)">mostra valor</button>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-daterange-input attr="daterange3" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" enabled="no" [data]="valueTimestamp">
      </o-daterange-input>
    </div>
  </o-form>
</example-comp>

<example-comp #ex2 comp-name="INPUTS.DATERANGE.MINMAX" comp-desc="INPUTS.DATERANGE.MINMAX.DESC" [files]="mixMaxDateRangeFiles"
  (showSource)="onShowSource('o-daterange-minmax', ex2)">

  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-daterange-input attr="daterange4" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" read-only="no" required="yes" [data]="valueTimestamp"
        min="15/05/2019" max="20/06/2019" format="DD/MM/YYYY" show-week-numbers="true" [mode]="mode.checked?'mobile':'desktop'">
      </o-daterange-input>
    </div>

  </o-form>
</example-comp>
<example-comp #ex3 comp-name="INPUTS.DATERANGE.SHOWRANGES" comp-desc="INPUTS.DATERANGE.SHOWRANGES.DESC" [files]="showRangeDateRangeFiles"
  (showSource)="onShowSource('o-daterange-ranges', ex3)">

  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-daterange-input attr="daterange5" label="{{ 'INPUT.BUTTON.DATERANGE' | oTranslate }}" read-only="no" required="yes" [data]="valueTimestamp"
        show-ranges="true" format="DD/MM/YYYY" separator=" to " touch-ui="yes" [mode]="mode.checked?'mobile':'desktop'">
      </o-daterange-input>
    </div>

  </o-form>
</example-comp>


<example-comp comp-name="INPUTS.DATE.VALUE_TYPE" comp-desc="INPUTS.DATE.VALUE_TYPE.DESC" [files]="valueTypeFiles">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DATE.VALUE_TYPE.TIMESTAMP' | oTranslate }}</label>
      <o-daterange-input #valueTypeTimestamp value-type="timestamp" attr="valueTypeInput" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}"
        [data]="valueTimestamp" read-only="no" required="yes">
      </o-daterange-input>
    </div>
    <button (click)="onClick($event,valueTypeTimestamp)">mostra valor</button>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DATE.VALUE_TYPE.STRING' | oTranslate }}</label>
      <o-daterange-input value-type="string" attr="valueTypeInput2" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" [data]="valueString" read-only="no"
        required="yes"></o-daterange-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DATE.VALUE_TYPE.DATE' | oTranslate }}</label>
      <o-daterange-input value-type="date" attr="valueTypeInput3" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" [data]="valueDate" read-only="no"
        required="yes"></o-daterange-input>
    </div>

    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DATE.VALUE_TYPE.ISO-8601' | oTranslate }}</label>
      <o-daterange-input value-type="iso-8601" attr="valueTypeInput4" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" [data]="valueIso8601"
        read-only="no" required="yes"></o-daterange-input>
    </div>
  </o-form>
</example-comp>
