<example-comp comp-name="INPUTS.DATE" comp-desc="INPUTS.DATE.DESC" [files]="files">
  <o-form editable-detail="no" show-header="no">
    <div fxLayout="row wrap">
      <o-date-input attr="date" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }} (read-only)" [data]="getValue()" layout-padding></o-date-input>
      <o-date-input attr="date2" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }} (edit mode)" [data]="getValue()" read-only="no"
        format="LL" required="yes" min="01/01/1980" max="01/01/2020" tooltip="This is an awesome tooltip!" layout-padding></o-date-input>
      <o-date-input attr="date3" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }} (disabled)" enabled="no" [data]="getValue()" layout-padding></o-date-input>
    </div>
  </o-form>
</example-comp>
