.card-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  justify-content: center; // Centra verticalmente
  align-items: center; // Centra horizontalmente

  mat-card {
    &.fill-minus-8 {
      display: flex;
      flex-direction: column;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.02);
      }
    }
  }
}