<example-comp #ex collapsible="no" collapsed="no" fxFill comp-name="GRID.EXAMPLE" [files]="getFiles('o-grid-fixed')"
  (showSource)="onShowSource(grid, ex)" class="list-examples">
  <data-structure comp-name="GRID" #sidenavComp>
    <div menu layout-margin fxLayout="column">
      <mat-form-field>
        <mat-label>{{ 'TITLE' | oTranslate }}</mat-label>
        <input matInput #gridTitle value="Grid">
      </mat-form-field>
      <o-column fxFlex layout-padding>
        <mat-slide-toggle #fixedHeaderToggle [checked]="true">
          {{ 'GRID.BUTTON.FIXED' | oTranslate }}
        </mat-slide-toggle>
        <mat-form-field>
          <mat-label>{{ 'HEIGHT' | oTranslate }}</mat-label>
          <input matInput #height value="600" type="number">
        </mat-form-field>
      </o-column>
    </div>

    <div content>
        <o-grid #grid attr="grid" [title]="gridTitle.value" [static-data]="getStaticData()" columns="id;name;username;email;companyname" keys="id"
          [fixed-header]="fixedHeaderToggle.checked" [ngStyle]="{height:height.value+'px'}" pagination-controls="yes" query-rows="8"
          grid-item-height="400px" quick-filter="yes" fxFlex>
          <o-grid-item *ngFor="let list of grid.dataArray">
            <div layout-padding class="container-item">
              <img class="image" alt="List thumbnail" [src]="list.thumbnailUrl" style="margin-top:8px">
              <h4>{{ list.name }}</h4>
              <div class="phone">
                <mat-icon>phone</mat-icon> <span> {{ list.phone }} </span>
              </div>
              <div class="email">
                <mat-icon>email</mat-icon> <span>{{ list.email }} </span>
              </div>
              <div class="domain">
                <mat-icon>domain</mat-icon> <span> {{ list.companyname }} </span>
              </div>
              <div class="website">
                <mat-icon>website</mat-icon> <span> {{ list.website }} </span>
              </div>
              <div class="body">
                {{list.body}}
              </div>
            </div>
          </o-grid-item>
        </o-grid>
    </div>
  </data-structure>
</example-comp>
