.grid-class {
  width: 100%;
}

.mat-grid-tile {
  width: 180px;
  height: 405px;
}

.container-item {
  width: 180px;
  height: 405px;
  overflow-y: hidden;

  .name {
    margin: 8px 0;
    font-size: 0.9em;
  }

  .image {
    height: 160px;
    width: 160px;
  }

  .email,
  .domain,
  .phone,
  .body,
  .website {
    font-size: 0.7em;
    display: flex;
    align-items: center;
    color: #4b4b4b;

    mat-icon {
      padding-right: 8px;
    }

    div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .mat-icon {
    font-size: 18px;
    height: 18px;
  }
}