<example-comp #ex collapsible="no" collapsed="no" class="o-flex-fill" comp-name="LIST.LIST_ITEM_CARD" [html]="html" [files]="files" (showSource)="onShowSource(list, ex)"
  class="list-examples">
  <screen-configuration comp-name="LIST" #sidenavComp>
    <div menu layout-margin>
      <div class="o-flex-row o-layout-align-center" layout-padding>
        <mat-form-field style="flex: 1 1 95%; max-width: 95%">
          <input (change)="updateCodeValue('title', $event.target.value)" matInput #listTitle placeholder="{{ 'TITLE' | oTranslate }}" value="List">
        </mat-form-field>
      </div>
      <div class="o-flex-row o-layout-align-center-center" layout-padding>
        <mat-slide-toggle (change)="updateCodeValue('refreshButton', $event.checked)" #refreshButtonToggle [checked]="true" class="o-flex">
          {{ 'REFRESH_BUTTON' | oTranslate }}
        </mat-slide-toggle>
        <mat-slide-toggle (change)="updateCodeValue('quickFilter', $event.checked)" #quickFilterToggle checked="true" class="o-flex" layout-padding>
          {{ 'QUICK_FILTER' | oTranslate }}
        </mat-slide-toggle>
      </div>
      <div class="o-flex-row o-layout-align-center-center" layout-padding>
        <mat-slide-toggle (change)="updateCodeValue('insertButton', $event.checked)" #insertButtonToggle class="o-flex">
          {{ 'INSERT_BUTTON' | oTranslate }}
        </mat-slide-toggle>
      </div>
      <div class="o-flex-column">
        <span class="menu-title">{{ 'ITEM_CONFIGURATION' | oTranslate }}</span>
        <mat-divider></mat-divider>
        <mat-slide-toggle (change)="updateCodeValue('showImage', $event.checked)" #showImageToggle checked="true">
          {{ 'SHOW_IMAGE' | oTranslate }}
        </mat-slide-toggle>
        <div class="o-flex-row o-layout-align-center-center">
          <mat-slide-toggle (change)="updateCodeValue('action1', $event.checked)" #action1Toggle checked="true" class="o-flex">
            {{ 'ACTION_1' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field [hidden]="!action1Toggle.checked" class="o-flex">
            <input (change)="updateCodeValue('actionText1', $event.target.value)" matInput #actionText1 placeholder="action-1-text" value="ACTION 1">
          </mat-form-field>
        </div>
        <div class="o-flex-row o-layout-align-center-center">
          <mat-slide-toggle (change)="updateCodeValue('action2', $event.checked)" #action2Toggle checked="true" class="o-flex">
            {{ 'ACTION_2' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field [hidden]="!action2Toggle.checked" class="o-flex">
            <input (change)="updateCodeValue('actionText2', $event.target.value)" matInput #actionText2 placeholder="action-2-text" value="ACTION 2">
          </mat-form-field>
        </div>
      </div>
    </div>
    <o-list content #list class="o-flex-fill" attr="list" [title]="listTitle.value" columns="id;name;username;image" keys="id" [static-data]="staticData"
      [refresh-button]="refreshButtonToggle.checked" [quick-filter]="quickFilterToggle.checked" [insert-button]="insertButtonToggle.checked"
      detail-mode="none">
      @for (row of list.dataArray; track row) {
        <o-list-item>
          <o-list-item-card #itemCard title="{{ row.username }}" subtitle="{{ row.name }}" [show-image]="showImageToggle.checked"
            image="{{ row.image }}" [action-1-text]="action1Toggle.checked ? actionText1.value : undefined"
            [action-2-text]="action2Toggle.checked ? actionText2.value : undefined" (action-1)="onAction1()" (action-2)="onAction2()">
          </o-list-item-card>
        </o-list-item>
      }
    </o-list>
  </screen-configuration>
</example-comp>
