<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px" class="card-container">
  <a routerLink="/main/inputs">
    <mat-card>
      <mat-card-header>Overview</mat-card-header>
      <mat-card-content>Inputs overview home page.</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/checkbox">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.CHECKBOX' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.CHECKBOX.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/combo">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.COMBO' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.COMBO.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/date">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.DATE' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.DATE.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/file">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.FILE' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.FILE.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/hour">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.HOUR' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.HOUR.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/integer">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.INTEGER.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/listpicker">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.LISTPICKER' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.LISTPICKER.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/nif">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.NIF' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.NIF.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/radio">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.RADIO' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.RADIO.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/slidetoggle">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.SLIDE_TOGGLE' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.SLIDE_TOGGLE.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/text">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.TEXT' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.TEXT.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
  <a routerLink="/main/inputs/time">
    <mat-card>
      <mat-card-header>{{ 'INPUT.BUTTON.TIME' | oTranslate }}</mat-card-header>
      <mat-card-content>{{ 'INPUTS.TIME.DESC' | oTranslate }}</mat-card-content>
    </mat-card>
  </a>
</div>
