<div fxLayout="column" fxLayoutAlign="center top" layout-margin>


  <div layout-padding>
    <h3>Overview</h3>
    <p>
      According to layout of the container (row or column) the children could be distributed using the
      <code>fxLayoutAlign</code> directive.
    </p>
    <p>
      The
      <code>fxLayoutAlign</code> directive takes two words. The first word says how the children will be aligned in the layout's direction, and the
      second word says how the children will be aligned perpendicular to the layout's direction.</p>
  </div>


  <div fxLayout="row" layout-padding fxLayoutAlign="start center">
    <span>Select container layout direction: </span>
    <mat-radio-group layout-padding (change)="onLayoutChange($event)">
      <mat-radio-button value="column"> {{ 'COLUMN' | oTranslate }}</mat-radio-button>
      <mat-radio-button value="row" checked="true"> {{'ROW' | oTranslate }}</mat-radio-button>
    </mat-radio-group>
  </div>


  <example-comp [comp-name]="getComponentId()" [files]="getFiles()" fxFill>

    <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFill>
      <o-row *ngIf="layout === 'row'" attr="row1" layout-fill="yes" [title-label]="title.value" [layout-align]="getLayoutAlign()"
        [elevation]="elevation.value" fxFlex="60">
        <div layout-padding style="background-color:#3498db;"> One </div>
        <div layout-padding style="background-color:#e74c3c;"> Two </div>
        <div layout-padding style="background-color:#f9c922;"> Three </div>
      </o-row>

      <o-column *ngIf="layout === 'column'" attr="col1" layout-fill="yes" [title-label]="title.value" [layout-align]="getLayoutAlign()"
        [elevation]="elevation.value" fxFlex="60">
        <div layout-padding style="background-color:#3498db;"> One </div>
        <div layout-padding style="background-color:#e74c3c;"> Two </div>
        <div layout-padding style="background-color:#f9c922;"> Three </div>
      </o-column>

      <o-column attr="conf" title-label="Configuration" elevation="0" fxFlex="35" layout-padding>

        <mat-form-field>
          <input matInput #title placeholder="{{ 'TITLE' | oTranslate }}" value="Title">
        </mat-form-field>


        <mat-form-field>
          <input matInput #elevation placeholder="{{ 'ELEVATION' | oTranslate }}" type="number" value="1" min="0" max="12">
        </mat-form-field>


        <span class="alignment" layout-padding>fxLayoutAlign: {{ getLayoutAlign() }}</span>

        <div fxLayout="row" fxLayoutAlign="space-around stretch">
          <div fxLayout="column" layout-padding>
            <span class="alignment-label">Alignment in Layout Direction (horizontal)</span>
            <mat-radio-group class="radio-group-vertical" #layHor (change)="onLayoutHorizontalChange($event)">
              <mat-radio-button *ngFor="let d of dataHorizontal" [value]="d.value" [checked]="d.checked">
                {{d.label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <div fxLayout="column" layout-padding>
            <span class="alignment-label">Alignment in Perpendicular Direction (vertical)</span>
            <mat-radio-group class="radio-group-vertical" #layVer (change)="onLayoutVerticalChange($event)">
              <mat-radio-button *ngFor="let d of dataVertical" [value]="d.value" [checked]="d.checked">
                {{d.label}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </o-column>

    </div>
  </example-comp>


</div>
