.app-containers {
  .radio-group-vertical{
    mat-radio-button{
      display: block;
    }
  }

  .alignment-label {
    font-size: 0.75em;
    color: #aaa;
  }

  .alignment {
    font-weight: bold;
    font-size: 1.1em;
  }

  .container-content {
    height: calc(100% - 32px);
  }
  }
