<div fxLayout="row" class="main-container">
  <collapsible-menu>
    <a class="menu-item" routerLink="/main/media/playground" routerLinkActive="active" fxFlex>{{ 'Playground' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/media/examples" routerLinkActive="active" fxFlex>{{ 'Examples' | oTranslate }}</a>
  </collapsible-menu>

  <div fxFlex="calc(100% - 300px)" class="left-border">
    <header-button-menu comp-name="{{ 'IMAGE.COMPONENT' | oTranslate }}" comp-desc="A component for display images.">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>

</div>
