<div layout="column" layout-align="center top" layout-margin>

  <div layout="row" layout-padding layout-fill>
    <o-button attr="flat" type="FLAT" label="FLAT" layout-padding></o-button>
    <o-button attr="raised" type="RAISED" label="RAISED" layout-padding></o-button>
    <o-button attr="floating" type="FLOATING" icon="add" layout-padding></o-button>
  </div>

  <div layout="row" layout-padding layout-fill>
    <button md-button layout-padding>FLAT</button>
    <button md-raised-button layout-padding>RAISED</button>
    <button md-icon-button layout-padding>
      <md-icon class="md-24">favorite</md-icon>
    </button>
    <button md-fab layout-padding>
      <md-icon class="md-24">add</md-icon>
    </button>
    <button md-mini-fab layout-padding>
      <md-icon class="md-24">add</md-icon>
    </button>
  </div>

</div>