.containers-basic,
.containers-collapsible {

  .radio-group-horizontal .mat-radio-button {
    padding-right: 8px;
  }

  .radio-group-vertical .mat-radio-button {
    display: block;
    padding: 2px 0;
  }

  .alignment-label {
    font-size: .75em;
    color: #aaa;
  }

  .alignment {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.containers-collapsible {
  display: block;
  height: calc(100% - 119px);

  .example-comp {
    height: 100%;

    &>section {
      height: 100%;

      screen-configuration {
        display: block;
        height: 100%;

        >div {
          height: 100% !important;
        }
      }
    }
  }
}

.containers-basic {
  display: block;
  height: calc(100% - 77px);

  >div {
    height: calc(100% - 85px);

    .example-comp {
      height: 100%;

      &>section {
        height: 100%;

        screen-configuration {
          display: block;
          height: 100%;

          >div {
            height: 100% !important;
          }
        }
      }
    }
  }
}