.sidenav-container {
  background-color: transparent;
  width: 100%;

  .mat-sidenav-content {
    overflow: hidden;
    width: 100%;
  }

    .table-conf-btn, .list-conf-btn, .grid-conf-btn {
    transform: rotate(90deg) translate(80px, 40px);
    padding: 0 20px 0 10px;
  }

  .sidenav {
    padding: 10px;
  }
}

.mat-drawer-content {
  overflow: hidden;
}

.example-comp {

  section {
    height: 100%;

    .playground-examples {

      >div {
        height: 100%;
      }
    }
  }
}