<div fxLayout="row" fxLayoutAlign="space-between start">
  <mat-sidenav-container fxFLex layout-align="start" class="sidenav-container">
    <mat-sidenav mode.xl.print="side" position="end" #sidenav class="sidenav">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="start center" layout-margin>
          <div fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon layout-margin>tune</mat-icon>
            <span>Configuration</span>
          </div>
          <div fxLayoutAlign="end center" fxFlex>
            <button mat-icon-button (click)="toggle()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <ng-content select="[menu]"></ng-content>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
        <div fxFlex="1 1 calc(100% - 42px)" class="overflow">
          <ng-content select="[content]"></ng-content>
        </div>
        <o-button type="FLAT" label="{{ 'BUTTON.CONFIGURATION' | oTranslate }}" color="primary" icon="tune" *ngIf="!sidenav.opened" (click)="toggle()"
          class="conf-btn" id="conf-btn-id" fxLayoutAlign="flex-end start"></o-button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
