.sidenav-container {
  background-color: transparent;
  width: 100%;
  height: fit-content;

  .mat-sidenav-content {
    width: 100%;
    overflow: hidden;

    >div {
      height: fit-content;

      >.container {
        overflow: auto;
        max-width: 100%;
      }
    }
  }

  .sidenav {
    padding: 10px;
    height: fit-content;
    width: 450px;

    >.mat-drawer-inner-container {
      height: fit-content;
    }
  }
}

.overflow {
  overflow: auto;
}

table-basic,
table-fixed,
table-pagination,
table-horizontal-scroll,
list-item-card,
list-item-card-image,
list-item-avatar {

  .example-comp {

    section {
      height: fit-content;

      .playground-examples {
        height: fit-content;

        >data-structure {
          >div {
            height: fit-content;

            >.sidenav-container {
              height: fit-content;
            }
          }
        }
      }
    }
  }
}

.conf-btn {
  transform: rotate(-90deg) translate(-67px, -59px);
  height: fit-content;
}