.sidenav-container {
  background-color: transparent;
  width: 100%;

  .mat-sidenav-content {
    overflow: hidden;
    width: 100%;
  }

  .table-conf-btn,
  .list-conf-btn,
  .grid-conf-btn {
    transform: rotate(90deg) translate(100px, 50px);
    padding: 0 20px 0 10px;
  }

  .sidenav {
    padding: 10px;
  }
}

.mat-drawer-content {
  overflow: hidden;
}

table-basic,
table-fixed,
table-pagination,
table-horizontal-scroll,
list-item-card,
list-item-card-image,
list-item-avatar {

  .example-comp {

    section {
      height: 100%;

      .playground-examples {
        >data-structure {
          >div {
            height: 100%;

            >.sidenav-container{
              height: 100%;
            }
          }
        }
      }
    }
  }
}