@import "node_modules/@angular/material/theming";

@mixin main-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .active {
    border-color: mat-color($primary, 500);
    background-color: mat-color($primary, 100);
  }

  #collapsible {
    .mat-expansion-panel-header {
      background-color: mat-color($background);
    }

    .menu-item{
      color: mat-color($foreground, text);
    }

  }

  .main-container{
    background-color: mat-color($background);
  }
}