<o-app-layout opened-sidenav-image="assets/images/sidenav-opened.png" closed-sidenav-image="assets/images/sidenav-closed.png" show-header="yes"
  show-language-selector="no" show-title="yes">
  <o-app-layout-header position="end">

    <button *ngIf="light" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>light_mode</mat-icon>
    </button>
    <button *ngIf="!light" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="light_mode()">
        <mat-icon>light_mode</mat-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item (click)="dark_mode()">
        <mat-icon>dark_mode</mat-icon>
        <span>Dark</span>
      </button>
    </mat-menu>

  </o-app-layout-header>
  <router-outlet></router-outlet>
</o-app-layout>
