.mat-slide-toggle {
  margin: 8px 0;
}

.application-layout-content-wrapper {
  background: #fafafa;
}

.o-app-sidenav .application-sidenav-sidenav {
  background: #fafafa;

  .application-sidenav-item {
    // border-color: mat-color($primary, default-contrast, 0.12);
    // color: red;
    color: #242424;
    > a:hover {
      background: #fafafa;
    }
  }

  .application-sidenav-menugroup.active {
    // background: blue;
    background: #fafafa;
    // color: red;
    color: #242424;

    + .application-sidenav-menugroup-items-container ul {
      background: #fafafa;
      // box-shadow: 6px 4px 36px -12px  $black-87-opacity inset;
    }
  }
}
