.mat-slide-toggle {
  margin: 8px 0;
}

.o-table-column-centered {
  text-align: center;
}

o-app-layout-sidenav {
  text-align: right;
  display: block;
  .version {
    padding: 12px;
    font-size: 0.9em;
  }
}
