<example-comp #ex collapsible="no" collapsed="no" fxFill comp-name="LIST.LIST_ITEM_CARD_IMAGE" [html]="html" [files]="files" (showSource)="onShowSource(list, ex)"
  class="list-examples">
  <screen-configuration comp-name="LIST" #sidenavComp>
    <div menu layout-margin>
      <div fxLayout="row" layout-padding fxLayoutAlign="center">
        <mat-form-field fxFlex="95">
          <input (change)="updateCodeValue('title', $event.target.value)" matInput #listTitle placeholder="{{ 'TITLE' | oTranslate }}" value="List">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" layout-padding>
        <mat-slide-toggle (change)="updateCodeValue('refreshButton', $event.checked)" #refreshButtonToggle [checked]="true" fxFlex>
          {{ 'REFRESH_BUTTON' | oTranslate }}
        </mat-slide-toggle>
        <mat-slide-toggle (change)="updateCodeValue('insertButton', $event.checked)" #insertButtonToggle fxFlex>
          {{ 'INSERT_BUTTON' | oTranslate }}
        </mat-slide-toggle>
      </div>
      <div fxLayout="column">
        <span class="menu-title">{{ 'ITEM_CONFIGURATION' | oTranslate }}</span>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="center center" layout-padding>
          <mat-slide-toggle (change)="updateCodeValue('imageToggle', $event.checked)" #imageToggle checked="true" fxFlex>
            {{ 'IMAGE' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle (change)="updateCodeValue('avatarToggle', $event.checked)" #avatarToggle fxFlex>
            {{ 'AVATAR' | oTranslate }}
          </mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" layout-padding>
          <mat-slide-toggle (change)="updateCodeValue('collapsibleToggle', $event.checked)" #collapsibleToggle fxFlex>
            {{ 'COLLAPSIBLE' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle (change)="updateCodeValue('collapsedToggle', $event.checked)" #collapsedToggle checked="true" fxFlex>
            {{ 'COLLAPSED' | oTranslate }}
          </mat-slide-toggle>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-slide-toggle (change)="updateCodeValue('action1', $event.checked)" #action1Toggle checked="true" fxFlex>
            {{ 'ACTION_1' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field [hidden]="!action1Toggle.checked" fxFlex>
            <input (change)="updateCodeValue('actionText1', $event.target.value)" matInput #action1Text placeholder="action-1-text" value="ACTION 1">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-slide-toggle (change)="updateCodeValue('action2', $event.checked)" #action2Toggle checked="true" fxFlex>
            {{ 'ACTION_2' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field [hidden]="!action2Toggle.checked" fxFlex>
            <input (change)="updateCodeValue('actionText2', $event.target.value)" matInput #action2Text placeholder="action-2-text" value="ACTION 2">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-slide-toggle (change)="updateCodeValue('showIcon', $event.checked)" #iconToggle fxFlex>
            {{ 'SHOW_ICON' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field [hidden]="!iconToggle.checked" fxFlex>
            <input (change)="updateCodeValue('icon', $event.target.value)" matInput #icon placeholder="icon" value="share">
          </mat-form-field>
        </div>
        <span class="menu-title">{{ 'ROW_HEIGHT' | oTranslate }}</span>
        <mat-divider></mat-divider>
        <mat-radio-group #rowHeight fxLayout="column" layout-padding [value]="list.rowHeight" (change)="list.rowHeight = $event.value">
          <mat-radio-button value="large" class="padding-3">
            {{ 'LARGE' | oTranslate }}
          </mat-radio-button>
          <mat-radio-button value="medium" class="padding-3">
            {{ 'MEDIUM' | oTranslate }}
          </mat-radio-button>
          <mat-radio-button value="small" class="padding-3">
            {{ 'SMALL' | oTranslate }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
      <o-list content #list fxFill attr="list" [title]="listTitle.value" columns="id;name;username;image" keys="id"
        [static-data]="getStaticData()" [refresh-button]="refreshButtonToggle.checked" [insert-button]="insertButtonToggle.checked" quick-filter="no"
        row-height="medium" detail-mode="none">
        <o-list-item *ngFor="let row of list.dataArray">
          <o-list-item-card-image #itemCardImg title="{{row.username}}" subtitle="{{row.name}}" content="{{ row.body }}"
            [avatar]="avatarToggle.checked ? row.thumbnailUrl : undefined" [image]="imageToggle.checked ? row.image : undefined"
            [action-1-text]="action1Toggle.checked ? action1Text.value : undefined"
            [action-2-text]="action2Toggle.checked ? action2Text.value : undefined" (action-1)="onAction1()" (action-2)="onAction2()"
            [icon]="iconToggle.checked ? icon.value : undefined" (icon-action)="onIconAction()" [collapsible]="collapsibleToggle.checked"
            [collapsed]="collapsedToggle.checked">
          </o-list-item-card-image>
        </o-list-item>
      </o-list>
  </screen-configuration>
</example-comp>
