<example-comp comp-name="INPUTS.PASSWORD" [files]="files">
  <o-form editable-detail="no" show-header="no">
    <div fxLayout="row wrap">
      <o-password-input attr="password" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }} (read-only)" [data]="getValue()" layout-padding></o-password-input>
      <o-password-input attr="password2" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }} (edit mode)" [data]="getValue()" read-only="no"
        required="yes" tooltip="This is an awesome tooltip!" layout-padding></o-password-input>
      <o-password-input attr="password3" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }} (disabled)" enabled="no" [data]="getValue()"
        layout-padding></o-password-input>
    </div>
  </o-form>
</example-comp>
