<example-comp comp-name="STATE_INPUTS" comp-desc="STATE_IMPUTS.DESC" [files]="getFiles()">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div class="o-flex-column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-password-input attr="password" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}" [data]="topSecret"></o-password-input>
    </div>
    <div class="o-flex-column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-password-input attr="password2" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}" [data]="topSecret" read-only="no" required="yes">
      </o-password-input>
    </div>
    <div class="o-flex-column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-password-input attr="password3" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}" enabled="no" [data]="topSecret"></o-password-input>
    </div>
  </o-form>
</example-comp>
<example-comp comp-name="INPUTS.SHOW_PASSWORD_BUTTON" comp-desc="INPUTS.SHOW_PASSWORD_BUTTON.DESC" [files]="getFiles('show-button-text')">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div class="o-flex-column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-password-input attr="password" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}" [data]="topSecret" show-password-button="yes">
      </o-password-input>
    </div>
    <div class="o-flex-column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-password-input attr="password2" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}" [data]="topSecret" read-only="no" required="yes"
        show-password-button="yes"></o-password-input>
    </div>
    <div class="o-flex-column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-password-input attr="password3" label="{{ 'INPUT.BUTTON.PASSWORD' | oTranslate }}" enabled="no" [data]="topSecret"
        show-password-button="yes"></o-password-input>
    </div>
  </o-form>
</example-comp>
