<example-comp #ex collapsible="no" collapsed="no" [comp-name]="'TABLE.EXAMPLE_INSERTABLE_ROW'" [files]="getFiles('o-table-insertable-row')">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
    <o-table fxFill #table attr="table" keys="ACCOUNTID" columns="ACCOUNTID;NAME;BALANCE;STARTDATE;NUMCARDS;ENDDATE;INTERESRATE;CLOSED"
      visible-columns="NAME;STARTDATE;BALANCE;NUMCARDS;CLOSED" layout-padding title="ACCOUNTS" [static-data]="getTableData()"
      sort-columns="NAME:DESC" query-on-init="false" quick-filter="yes" insert-button="no" delete-button="yes" refresh-button="no"
      pagination-controls="no" detail-mode="none" export-button="no">

      <o-table-columns-filter columns="NAME;BALANCE"></o-table-columns-filter>

      <o-table-column attr="STARTDATE" title="STARTDATE" format="LL" type="date"> </o-table-column>
      <o-table-column attr="NUMCARDS" title="NUMCARDS" class="o-table-column-centered"> </o-table-column>
      <o-table-column attr="BALANCE" title="BALANCE" type="currency" thousand-separator="." decimal-separator="," currency-symbol="€"
        currency-symbol-position="right">
      </o-table-column>
      <o-table-column attr="CLOSED" title="CLOSED" type="boolean" true-value="1" false-value="0" boolean-type="number">
      </o-table-column>

      <o-table-insertable-row columns="NAME;STARTDATE" required-columns="STARTDATE" show-placeholder="yes"></o-table-insertable-row>
    </o-table>
  </div>
</example-comp>
