<div layout="column" layout-align="center top" layout-margin>


  <div layout-padding>
    <h3>Overview</h3>
    <p>
      According to layout of the container (row or column) the children could be distributed using the <code>layout-align</code> directive.
    </p>
    <p>
    The <code>layout-align</code> directive takes two words.
    The first word says how the children will be aligned in the layout's direction, and the second word says how the children will be aligned perpendicular to the layout's direction.</p>
  </div>


  <div layout="row" layout-padding layout-align="start center">
    <span>Select container layout direction: </span>
    <md-radio-group layout-padding (change)="onLayoutChange($event)">
      <md-radio-button value="column"> {{ 'COLUMN' | oTranslate }}</md-radio-button>
      <md-radio-button value="row" checked="true"> {{'ROW' | oTranslate }}</md-radio-button>
    </md-radio-group>
  </div>


  <example-comp [comp-name]="getComponentId()" [files]="getFiles()" layout-fill>

      <div layout="row" layout-align="space-around stretch" layout-fill>
        <o-row *ngIf="layout === 'row'" attr="row1" [title-label]="title.value" [layout-align]="getLayoutAlign()"
          [elevation]="elevation.value" flex="60" >
          <div layout-padding style="background-color:#3498db;" > One </div>
          <div layout-padding style="background-color:#e74c3c;" > Two </div>
          <div layout-padding style="background-color:#f9c922;"> Three </div>
        </o-row>

        <o-column *ngIf="layout === 'column'" attr="col1" [title-label]="title.value" [layout-align]="getLayoutAlign()"
          [elevation]="elevation.value" flex="60" >
          <div layout-padding style="background-color:#3498db;" > One </div>
          <div layout-padding style="background-color:#e74c3c;" > Two </div>
          <div layout-padding style="background-color:#f9c922;"> Three </div>
        </o-column>

        <o-column attr="conf" title-label="Configuration" elevation="0" flex="35" layout-padding>
          <md-input #title placeholder="{{ 'TITLE' | translate }}" value="Title" layout-fill></md-input>
          <md-input #elevation placeholder="{{ 'ELEVATION' | translate }}" type="number" value="1" min="0" max="12"></md-input>

          <span class="alignment" layout-padding>Layout-align: {{ getLayoutAlign() }}</span>

          <div layout="row" layout-align="space-around stretch">
            <div layout="column" layout-padding>
              <span class="alignment-label">Alignment in Layout Direction (horizontal)</span>
              <md-radio-group class="radio-group-vertical" #layHor (change)="onLayoutHorizontalChange($event)" >
                <md-radio-button *ngFor="let d of dataHorizontal" [value]="d.value" [checked]="d.checked">
                  {{d.label}}
                </md-radio-button>
              </md-radio-group>
            </div>

            <div layout="column" layout-padding>
              <span class="alignment-label">Alignment in Perpendicular Direction (vertical)</span>
              <md-radio-group  class="radio-group-vertical" #layVer (change)="onLayoutVerticalChange($event)" >
                <md-radio-button *ngFor="let d of dataVertical" [value]="d.value" [checked]="d.checked">
                  {{d.label}}
                </md-radio-button>
              </md-radio-group>
            </div>
          </div>
        </o-column>

      </div>
  </example-comp>


</div>