<div layout="column" layout-align="center top" layout-margin>

  <example-comp [comp-name]="getComponentId()" [files]="getFiles()" layout-fill>
    <o-form show-header="no">
      <div layout="row" layout-padding layout-fill>
        <o-checkbox attr="check" label="O-checkbox (read-only)" layout-padding></o-checkbox>
        <o-checkbox #checkbox attr="check1" label="O-checkbox (edit mode)"  layout-padding></o-checkbox>
        <o-checkbox attr="check2" label="O-checkbox disabled" enabled="no"  layout-padding></o-checkbox>
      </div>
    </o-form>
  </example-comp>

</div>