.container-item {
  width: 190px;
  height: 405px;
  overflow-y: hidden;

  .name {
    margin: 8px 0;
    font-size: 0.9em;
  }


  .detail {
    font-size: 0.9em;
    display: flex;
    align-items: center;
    padding: 4px 0;
    label{
      font-weight: 600;
      padding-right: 8px;
    }
    mat-icon {
      padding-right: 8px;
      font-size: 24px;
      width: 24px;
      height: 24px;
    }

    div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .mat-icon {
    font-size: 18px;
    height: 18px;
  }
}
