<example-comp #ex collapsible="no" collapsed="no" class="o-flex-fill" comp-name="GRID.EXAMPLE" [html]="html" [files]="getFiles('o-grid-basic')"
  (showSource)="onShowSource(grid, ex)" class="list-examples">

  <screen-configuration comp-name="GRID" #sidenavComp>
    <div menu layout-margin>
      <mat-form-field layout-padding>
        <mat-label>{{ 'TITLE' | oTranslate }}</mat-label>
        <input (change)="updateCodeValue('title', $event.target.value)" matInput #gridTitle value="Episodes">
      </mat-form-field>
      <div class="o-flex-row o-layout-align-start-center o-gap-8">
        <mat-form-field layout-padding>
          <mat-label>{{ 'GRID.NUM_COLUMNS' | oTranslate }}</mat-label>
          <input (change)="updateCodeValue('columns', $event.target.value)" matInput #colsInput type="number" [(ngModel)]="columns" min="1">
        </mat-form-field>
        <mat-form-field layout-padding>
          <mat-label>{{ 'GRID.GUTTER_SIZE' | oTranslate }}</mat-label>
          <input (change)="updateCodeValue('gutterSize', $event.target.value)" matInput #gutterSizeInput type="number" [(ngModel)]="gutterSize"
            min="1">
        </mat-form-field>
      </div>
      <div class="o-flex-column">
        <div class="o-flex-row o-layout-align-center-center o-gap-8" layout-padding>
          <mat-slide-toggle (change)="updateCodeValue('controls', $event.checked)" #showControlsToggle [checked]="true" class="o-flex">
            {{ 'GRID.SHOW_CONTROLS' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle (change)="updateCodeValue('footer', $event.checked)" #showFooterToggle [checked]="true" class="o-flex">
            {{ 'GRID.SHOW_FOOTER' | oTranslate }}
          </mat-slide-toggle>
        </div>
        <div class="o-flex-row o-layout-align-center-center o-gap-8" layout-padding>
          <mat-slide-toggle (change)="updateCodeValue('refreshButton', $event.checked)" #refreshButtonToggle [checked]="true" class="o-flex">
            {{ 'REFRESH_BUTTON' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle (change)="updateCodeValue('insertButton', $event.checked)" #insertButtonToggle [checked]="false" class="o-flex">
            {{ 'INSERT_BUTTON' | oTranslate }}
          </mat-slide-toggle>
        </div>
        <div class="o-flex-row o-layout-align-center-center o-gap-8" layout-padding>
          <mat-slide-toggle (change)="updateCodeValue('showPageSize', $event.checked)" #showPageSizeToggle [checked]="true" class="o-flex">
            {{ 'GRID.SHOW_PAGINATION' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field class="o-flex">
            <mat-label>{{ 'GRID.PAGE_SIZE' | oTranslate }}</mat-label>
            <input (change)="updateCodeValue('queryRows', $event.target.value)" matInput #pageSizeInput type="number" [(ngModel)]="pagesize" min="1">
          </mat-form-field>
        </div>
        <div class="o-flex-row o-layout-align-center-center o-gap-8" layout-padding>
          <mat-slide-toggle (change)="updateCodeValue('orderable', $event.checked)" #showSortToggle [checked]="true" class="o-flex">
            {{ 'GRID.SHOW_SORT' | oTranslate }}
          </mat-slide-toggle>
          <mat-form-field class="o-flex">
            <mat-select (selectionChange)="updateCodeValue('sortColumn', $event.value)" placeholder="Sort column" [(ngModel)]="sortColumn"
              (change)="reloadGridData(grid)">
              @for (column of ['name','email']; track column) {
                <mat-option [value]="column">
                  {{ column }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="o-flex-row o-layout-align-center-center o-gap-8" layout-padding>
          <mat-slide-toggle (change)="updateCodeValue('quickfilter', $event.checked)" #quickFilterToggle [checked]="true" class="o-flex">
            {{ 'QUICK_FILTER' | oTranslate }}
          </mat-slide-toggle>
          <mat-slide-toggle (change)="updateCodeValue('paginationControls', $event.checked)" #paginationControlsToggle [checked]="false" class="o-flex">
            {{ 'GRID.PAGINATION_CONTROLS' | oTranslate }}
          </mat-slide-toggle>
        </div>

      </div>
    </div>
    <o-grid content #grid attr="grid" [title]="gridTitle.value" service-type="rickandmorty" service="episodes" entity="episode"
      columns="id;name;movie;episode;air_date" keys="id" [cols]="columns" [query-rows]="pagesize" [show-page-size]="showPageSizeToggle.checked"
      page-size-options="4;8;16" [orderable]="showSortToggle.checked" [quick-filter]="quickFilterToggle.checked" sortable-columns="name;episode"
      quick-filter-columns="name;episode" [sort-column]="sortColumn" [controls]="showControlsToggle.checked"
      [refresh-button]="refreshButtonToggle.checked" [pagination-controls]="paginationControlsToggle.checked" [gutter-size]="gutterSizeInput.value"
      [show-footer]="showFooterToggle.checked" [insert-button]="insertButtonToggle.checked" fixed-header="yes" [ngStyle]="{'height':'600px'}"
      style="flex: 1 1 calc(100% - 42px); max-width: calc(100% - 42px)">
      @for (ep of grid.dataArray; track ep) {
        <o-grid-item>
          <div class="card-inner">
            <mat-card class="fill-minus-8" appearance="outlined">
              <mat-card-header>
                <div mat-card-avatar class="avatar-icon">
                  <mat-icon color="accent">movie</mat-icon>
                </div>
                <mat-card-title class="ellipsis-title">{{ ep.name }}</mat-card-title>
                <mat-card-subtitle>{{ ep.episode }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p><strong>Air date:</strong> {{ ep.air_date }}</p>
              </mat-card-content>
              <mat-card-actions style="align-self: flex-end">
                <button mat-raised-button color="primary">View details</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </o-grid-item>
      }
    </o-grid>
  </screen-configuration>

</example-comp>
