<example-comp #ex collapsible="no" collapsed="no" fxFill comp-name="GRID.EXAMPLE" [files]="getFiles('o-grid-fixed')"
  (showSource)="onShowSource(grid, ex)" class="list-examples">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding>
    <o-column elevation="1" fxFlex="60" layout-align="center">
      <o-grid #grid attr="grid" [title]="gridTitle.value" [static-data]="getStaticData()" columns="id;name;username;email;companyname"
        keys="id" [fixed-header]="fixedHeaderToggle.checked" [ngStyle]="{height:height.value+'px'}" 
        pagination-controls="yes" query-rows="8"   grid-item-height="1:1.5">
        <o-grid-item *ngFor="let list of grid.dataArray">
          <o-column layout-padding class="container-item">
            <img [src]="list.thumbnailUrl" style="margin-top:8px">
            <div class="name"><b>{{ list.name }}</b></div>
            <div class="phone">
              <mat-icon>phone</mat-icon> <span> {{ list.phone }} </span>
            </div>
            <div class="email">
              <mat-icon>email</mat-icon> <span>{{ list.email }} </span>
            </div>
            <div class="domain">
              <mat-icon>domain</mat-icon> <span> {{ list.companyname }} </span>
            </div>
            <div class="website">
              <mat-icon>website</mat-icon> <span> {{ list.website }} </span>
            </div>
          </o-column>
        </o-grid-item>
      </o-grid>
    </o-column>
    <o-column attr="conf" title="{{ 'GRID.CONFIGURATION' | oTranslate }}" fxFlex="40" layout-align="center"
      layout-padding>
      <mat-form-field>
        <input matInput #gridTitle placeholder="{{ 'TITLE' | oTranslate }}" value="Grid">
      </mat-form-field>
      <o-column fxFlex layout-padding>
        <mat-slide-toggle #fixedHeaderToggle [checked]="true">
          {{ 'GRID.BUTTON.FIXED' | oTranslate }}
        </mat-slide-toggle>
        <mat-form-field>
          <input matInput #height placeholder="{{ 'HEIGHT' | oTranslate }}" value="500" type="number">
        </mat-form-field>
      </o-column>
    </o-column>
  </div>
</example-comp>