<mat-tab-group>
  <mat-tab label="{{ 'TABLEEXPANDABLE.BUTTON.BASIC' | oTranslate}}">
    <table-row-expandable-basic></table-row-expandable-basic>
  </mat-tab>
  <mat-tab label="{{'TABLE.EXAMPLE_MULTIPLE_EXPANDED_ROWS' | oTranslate}}">
    <table-row-expandable-multiple></table-row-expandable-multiple>
  </mat-tab>
  <mat-tab label="{{'TABLEEXPANDABLE.BUTTON.WITHOUTBUTTON' | oTranslate}}">
    <table-row-expandable-without-button></table-row-expandable-without-button>
  </mat-tab>
  <mat-tab label="{{'TABLEEXPANDABLE.BUTTON.CONTAINEREXPANBLE' | oTranslate}}">
    <table-row-expandable-with-expandable-container></table-row-expandable-with-expandable-container>
  </mat-tab>
</mat-tab-group>
