<div layout-padding flex="80">
  <div layout-padding>
    <h2>What is Ontimize Web?</h2>
    <p class="body-text">
      Ontimize Web is web application framework based on Angular 2 for building bussiness software. Ontimize Web makes use of Angular
      framework and its UI Component framework (Angular Material) to provide a set of reusable, well-teste and accesible
      components apart from a number of standard services and functionalities.
    </p>
  </div>

  <h2>Keep up to date</h2>
  <p class="body-text">
    Please refer to our changelog for up-to-date listings of all improvements and breaking changes.
  </p>
  <div layout="row" layout-align="center">
    <a href="https://github.com/OntimizeWeb/ontimize-web-ng2/blob/master/CHANGELOG.md" target="_blank">
     <button md-icon-button>
      <md-icon class="md-48">access_time</md-icon>
    </button>
    </a>
  </div>

  <md-divider></md-divider>

  <div layout-padding>
    <h2>Related topics</h2>
    <p class="body-text">
      Here are some interesting reading topics that can help you better understand how to develop with Ontimize Web.
    </p>
    <div layout="row" layout-align="start center">
      <h5>Google's Material Desing</h5>
      <a href="http://www.google.com/design/spec/material-design/" target="_blank"> <md-icon>launch</md-icon></a>
    </div>
    <p class="body-text">
      Material Design is a specification for a unified system of visual, motion, and interaction design that adapts across different devices and different screen sizes.
    </p>

  </div>

</div>