<example-comp comp-name="INPUTS.COMBO" comp-desc="INPUTS.COMBO.DESC" [files]="files">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-combo attr="combo" label="{{ 'INPUT.COMBO' | oTranslate }}" [static-data]="dataArray" [data]="valueSimple" value-column="key"
        columns="key;value" visible-columns="value"></o-combo>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable" label="{{ 'INPUT.COMBO' | oTranslate }}" [static-data]="dataArray" [data]="valueSimple"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" fxFlex></o-combo>
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO.SEARCH' | oTranslate }}" [static-data]="dataArray" [data]="valueSimple"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
        </o-combo>
      </div>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-combo attr="combo-disabled" label="{{ 'INPUT.COMBO' | oTranslate }}" enabled="no" [static-data]="dataArray" [data]="valueSimple"
        value-column="key" columns="key;value" visible-columns="value"></o-combo>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_MULTIPLE" comp-desc="INPUTS.COMBO.DESC_MULTIPLE" [files]="files_multiple">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Multiple selection</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-multiple" label="{{ 'INPUT.COMBOMULTIPLE' | oTranslate }}" [static-data]="dataArray"
          [data]="valueMultiple" value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" multiple="yes"
          fxFlex></o-combo>
        <o-combo attr="combo-editable-multiple-search" label="{{ 'INPUT.COMBOMULTIPLE.SEARCH' | oTranslate }}" [static-data]="dataArray"
          [data]="valueMultiple" value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" multiple="yes"
          null-selection="no" searchable="yes" fxFlex>
        </o-combo>
      </div>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Sum up the trigger label</label>
      <o-combo attr="combo-editable-multiple2" label="{{ 'INPUT.COMBOMULTIPLE' | oTranslate }}" [static-data]="dataArray"
        [data]="valueMultiple" value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" multiple="yes"
        multiple-trigger-label="yes"></o-combo>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_CUSTOM_RENDERER" comp-desc="INPUTS.COMBO_CUSTOM_RENDERER.DESC" [files]="files_custom_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO_CUSTOM_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayCustomRenderer" [data]="valueSimple"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
          <combo-custom-render></combo-custom-render>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_MULTIPLE_CUSTOM_RENDERER" comp-desc="INPUTS.COMBO_CUSTOM_RENDERER.DESC_MULTIPLE" [files]="files_multiple_custom_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Multiple selection</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-multiple-search" label="{{ 'INPUT.COMBOMULTIPLE_CUSTOM_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayCustomRenderer"
          [data]="valueMultiple" value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" multiple="yes"
          null-selection="no" searchable="yes" fxFlex>
          <combo-custom-render></combo-custom-render>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_CURRENCY_RENDERER" comp-desc="INPUTS.COMBO_CURRENCY_RENDERER.DESC" [files]="files_currency_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUT.BUTTON.CURRENCY' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO_CURRENCY_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayCustomRenderer" [data]="valueSimple"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
          <o-combo-renderer-currency></o-combo-renderer-currency>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_REAL_RENDERER" comp-desc="INPUTS.COMBO_REAL_RENDERER.DESC" [files]="files_real_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUT.BUTTON.REAL' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO_REAL_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayCustomRenderer" [data]="valueSimple"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
          <o-combo-renderer-real></o-combo-renderer-real>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_INTEGER_RENDERER" comp-desc="INPUTS.COMBO_INTEGER_RENDERER.DESC" [files]="files_integer_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUT.BUTTON.INTEGER' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO_INTEGER_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayCustomRenderer" [data]="valueSimple"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
          <o-combo-renderer-integer></o-combo-renderer-integer>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_BOOLEAN_RENDERER" comp-desc="INPUTS.COMBO_BOOLEAN_RENDERER.DESC" [files]="files_boolean_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUT.BUTTON.BOOLEAN' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO_BOOLEAN_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayBooleanRenderer" [data]="valueBoolean"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
          <o-combo-renderer-boolean boolean-type="boolean" render-true-value="Yes" render-false-value="No"></o-combo-renderer-boolean>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_PERCENTAGE_RENDERER" comp-desc="INPUTS.COMBO_PERCENTAGE_RENDERER.DESC" [files]="files_percentage_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUT.BUTTON.PERCENT' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO_PERCENTAGE_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayPercentageRenderer" [data]="valuePercentage"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
          <o-combo-renderer-percentage value-base="100"></o-combo-renderer-percentage>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_DATE_RENDERER" comp-desc="INPUTS.COMBO_DATE_RENDERER.DESC" [files]="files_date_render">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUT.BUTTON.DATE' | oTranslate }}</label>
      <div fxLayout="row" fxLayoutGap="8px">
        <o-combo attr="combo-editable-search" label="{{ 'INPUT.COMBO_DATE_RENDERER.SEARCH' | oTranslate }}" [static-data]="dataArrayDateRenderer" [data]="valueSimple"
          value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="no" null-selection="no" searchable="yes" fxFlex>
          <o-combo-renderer-date format="YYYY-MM-DD"></o-combo-renderer-date>
        </o-combo>
      </div>
    </div>
  </o-form>
</example-comp>
