<example-comp comp-name="INPUTS.COMBO" comp-desc="INPUTS.COMBO.DESC" [files]="files">
  <o-form editable-detail="false" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Read only</label>
      <o-combo attr="combo" label="{{ 'INPUT.COMBO' | oTranslate }}" [static-data]="getDataArray()" [data]="getValueSimple()" value-column="key"
        columns="key;value" visible-columns="value" tooltip="This is an awesome tooltip!" tooltip-position="below"></o-combo>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Editable</label>
      <o-combo attr="combo-editable" label="{{ 'INPUT.COMBO' | oTranslate }}" [static-data]="getDataArray()" [data]="getValueSimple()"
        value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="false"></o-combo>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Disabled</label>
      <o-combo attr="combo-disabled" label="{{ 'INPUT.COMBO' | oTranslate }}" enabled="no" [static-data]="getDataArray()" [data]="getValueSimple()"
        value-column="key" columns="key;value" visible-columns="value"></o-combo>
    </div>
  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.COMBO_MULTIPLE" comp-desc="INPUTS.COMBO.DESC_MULTIPLE" [files]="files_multiple">
  <o-form editable-detail="false" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Multiple selection</label>
      <o-combo attr="combo-editable-multiple" label="{{ 'INPUT.COMBOMULTIPLE' | oTranslate }}" [static-data]="getDataArray()" [data]="getValueMultiple()"
        value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="false" multiple="yes"></o-combo>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">Sum up the trigger label</label>
      <o-combo attr="combo-editable-multiple2" label="{{ 'INPUT.COMBOMULTIPLE' | oTranslate }}" [static-data]="getDataArray()"
        [data]="getValueMultiple()" value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="false"
        multiple="yes" multiple-trigger-label="yes"></o-combo>
    </div>
  </o-form>
</example-comp>
