
<div fxLayout="column" fxLayoutAlign="center top" layout-margin>

    <div layout-padding>
        <h3>Overview</h3>
        <p>
            A CSS flexbox layout with a fixed header, a fixed footer, and an expanding centre section which scrolls if its content height
            is greater than its own height, all you have to do is wrap the <b>table</b> in a
            <b>flex container</b>.
        </p>
    </div>


    <example-comp #ex1 collapsible="no" collapsed="no"  [comp-name]="getComponentId()" [files]="getFiles()" fxFill (showSource)="onShowSource(ex1)">

        <div fxLayout="row" fxLayoutAlign="space-around stretch" fxFill>
          
            <o-column  attr="col1" fxFlex="65">
                <o-table
                [fixed-header]="fixedHeaderToggle.checked"  [static-data]="getTableData()"
                columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;BALANCE;STARTDATE;ENDDATE;INTERESRATE;ACCOUNTTYP"
                visible-columns="ENTITYID;OFFICEID;CDID;ANID;ACCOUNTTYP;BALANCE"
                attr="accounts" title="ACCOUNTS" layout-padding  sort-columns="ANID" 
                query-on-init="false" quick-filter="yes"
                insert-button="no" delete-button="no" refresh-button="no" pagination-controls="no"
                [ngStyle]="{'height':height.value === 0 ? '100%' : height.value+'px'}" >
                    <o-table-column attr="ENTITYID" title="ENTITYID" width="14%" ></o-table-column>
                    <o-table-column attr="CDID" title="CDID" width="14%" ></o-table-column>
                    <o-table-column attr="ANID" title="ANID" width="14%" ></o-table-column>
                    <o-table-column attr="BALANCE" title="BALANCE"   currency-symbol="€" type="currency" grouping="yes" thousand-separator=","> </o-table-column>
                    <o-table-column-aggregate attr="BALANCE" title="sum:"></o-table-column-aggregate>
                </o-table>
            </o-column>

            <o-column attr="conf" title-label="Configuration" elevation="0" fxFlex="30" layout-padding>

                <md-input-container fxFill>
                    <input mdInput #title placeholder="{{ 'TITLE' | oTranslate }}" value="Title">
                </md-input-container>
                
                <md-input-container fxFill>
                    <input mdInput #height placeholder="{{ 'HEIGHT' | oTranslate }}" value="400" type="number">
                </md-input-container>

            
                <div fxLayout="row" fxLayoutAlign="space-around stretch">
                    <md-slide-toggle #fixedHeaderToggle>
                        {{ 'Fixed (header & footer)' | oTranslate }}
                    </md-slide-toggle>
                
                </div>
            </o-column>

        </div>
    </example-comp>


</div>