<example-comp comp-name="STATE_INPUTS" comp-desc="STATE_IMPUTS.DESC" [files]="files">
  <o-form editable-detail="no" show-header="no" layout-direction="column">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-nif-input attr="nif" label="{{ 'INPUT.BUTTON.NIF' | oTranslate }}" [data]="getValue()"></o-nif-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-nif-input attr="nif2" label="{{ 'INPUT.BUTTON.NIF' | oTranslate }}" [data]="getValue()" read-only="no" required="yes"
        ></o-nif-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-nif-input attr="nif3" label="{{ 'INPUT.BUTTON.NIF' | oTranslate }}" enabled="no" [data]="getValue()"></o-nif-input>
    </div>
  </o-form>
</example-comp>
