@mixin example-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .example-comp {
    & > section {
      background: mat-color($background);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);

      .mat-toolbar {
        background-color: transparent;
        color: mat-color($foreground, text);
      }

      .playground-toolbar.mat-toolbar {
        background: rgba(0,0,0,.03);
        border-bottom: 1px solid #e0e0e0;

        .comp-description {
          color: #616161;
        }
      }

      .playground-tabs {
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
}
