.example-comp {
  &>section {
    margin: 20px 4px;
  }

  .playground-toolbar {
    font-size: 18px;
    margin: 0 30px 0 30px;
    padding: 0;
    width: calc(100% - 60px);

    >div>span {
      font-weight: 600;
    }

    .comp-description {
      font-size: 16px;
      font-weight: 100;
    }
  }

  .playground-tabs{
    margin: 10px 48px 10px 48px;
  }


  .collapsible {
    overflow: hidden;
    -webkit-transition: max-height 1.8s;
    -moz-transition: max-height 1.8s;
    transition: max-height 1.8s;
    max-height: 2500px;

    &.collapsed {
      max-height: 0;
    }
  }

  .o-form form.inner-form {
    position: relative;
  }

  .mat-tab-body-wrapper {
    height: 100%;
  }

  .playground-examples {
    margin: 20px 48px 10px 48px;

    .input-comp-title{
      font-size: 17px;
      font-weight: 600;
    }

  }
}