@mixin example-component-theme($theme) {
  .example-comp {
    &>section {
      background: var(--o-bg-background);
      box-shadow: none;

      .mat-toolbar {
        background-color: transparent;
        color: var(--o-fg-text);
      }

      .playground-toolbar.mat-toolbar {
        background-color: transparent;
        border-bottom: 2px solid var(--mat-sys-primary);
      }

      .playground-tabs {
        border-bottom: 1px solid var(--o-fg-divider);
      }
    }
  }
}
