<div class="o-flex-row main-container bg-level-1">
  <collapsible-menu>
   <a mat-button class="menu-item o-flex" routerLink="/main/media/image/playground" routerLinkActive="active">{{ 'Playground' | oTranslate }}</a>
   <a mat-button class="menu-item o-flex" routerLink="/main/media/image/examples" routerLinkActive="active">{{ 'Examples' | oTranslate }}</a>
  </collapsible-menu>

  <div class="left-border o-flex">
    <header-button-menu comp-name="{{ 'IMAGE.COMPONENT' | oTranslate }}" comp-desc="{{ 'IMAGE.COMPONENT.DESC' | oTranslate }}">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>

</div>
