<div fxLayout="row" class="main-container bg-level-06">
  <collapsible-menu>
    <a class="menu-item" routerLink="/main/media/image/playground" routerLinkActive="active" fxFlex>{{ 'Playground' | oTranslate }}</a>
    <a class="menu-item" routerLink="/main/media/image/examples" routerLinkActive="active" fxFlex>{{ 'Examples' | oTranslate }}</a>
  </collapsible-menu>

  <div fxFlex="calc(100% - 300px)" class="left-border">
    <header-button-menu comp-name="{{ 'IMAGE.COMPONENT' | oTranslate }}" comp-desc="{{ 'IMAGE.COMPONENT.DESC' | oTranslate }}">
    </header-button-menu>
    <router-outlet></router-outlet>
  </div>

</div>
