<div class="o-flex-row o-layout-align-sb-start">
  <mat-sidenav-container class="sidenav-container o-flex" layout-align="start">
    <mat-sidenav #sidenav position="end" class="sidenav">
      <div class="o-flex-column">
        <div class="o-flex-row o-layout-align-start-center" layout-margin>
          <div class="o-flex o-flex-row o-layout-align-start-center">
            <mat-icon layout-margin>tune</mat-icon>
            <span>Configuration</span>
          </div>
          <div class="o-layout-align-end-center o-flex">
            <button mat-icon-button (click)="toggle()">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <ng-content select="[menu]"></ng-content>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="o-flex">
      <div class="o-flex-row o-gap-10">
        <div class="o-flex">
          <ng-content select="[content]"></ng-content>
        </div>
        @if (!sidenav.opened) {
          <o-button type="FLAT" label="{{ 'BUTTON.CONFIGURATION' | oTranslate }}" color="primary" icon="tune" (click)="toggle()"
          class="conf-btn" id="conf-btn-id"></o-button>
        }
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
