<div fxLayout="row" class="main-container bg-level-06">
  <div fxLayout="row" fxLayoutAlign="center start" class="card-container">
    <a routerLink="/main/layout/layout-manager/tab">
      <inputs-card comp-name="flm-tab" header="{{ 'LAYOUT_MANAGER.TABGROUP' | oTranslate }}" content="{{ 'LAYOUT_MANAGER.TABGROUP.DESC' | oTranslate }}">
      </inputs-card>
    </a>
    <a routerLink="/main/layout/layout-manager/dialog">
      <inputs-card comp-name="flm-dialog" header="{{ 'LAYOUT_MANAGER.DIALOG' | oTranslate }}" content="{{ 'LAYOUT_MANAGER.DIALOG.DESC' | oTranslate }}">
      </inputs-card>
    </a>
    <a routerLink="/main/layout/layout-manager/split-pane">
      <inputs-card comp-name="flm-split-pane" header="{{ 'LAYOUT_MANAGER.SPLITPANE' | oTranslate }}" content="{{ 'LAYOUT_MANAGER.SPLITPANE.DESC' | oTranslate }}">
      </inputs-card>
    </a>
    <a routerLink="/main/layout/containers">
      <inputs-card comp-name="containers" header="{{ 'CONTAINERS' | oTranslate }}" content="{{ 'CONTAINERS.DESC' | oTranslate }}">
      </inputs-card>
    </a>
  </div>
</div>
