/* You can add global styles to this file, and also import other style files */
.application-layout-content-wrapper {
  padding: 0 !important;
}

.left-border {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: #0000001E;
  padding-left: 10px;
  overflow: auto;
}

.main-container {
  background-color: white;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  max-height: max-content;
  margin: 10px;
  overflow: auto;
}
