<example-comp #ex collapsible="no" collapsed="no" comp-name="TABLE.EXAMPLE_PAGINACION" [files]="getFiles('o-table-paginator')"
  (showSource)="onShowSource('o-table-paginator', table, ex)">
  <screen-configuration comp-name="TABLE" #sidenavComp>

    <div menu layout-margin>
      <mat-form-field style="width:100%;">
        <mat-label>{{ 'TABLE.PAGINATION.PAGE_SIZE_OPTIONS' | oTranslate }}</mat-label>
        <input (change)="ex.updateCode()" matInput #pageSizeOptionsInput value="5;10;15" (change)="onEmptySetDefault()">
      </mat-form-field>
    </div>
    <o-table content #table attr="branches" title="BRANCHES" columns="OFFICEID;NAME;ADDRESS;STARTDATE" pageable="no"
      visible-columns="OFFICEID;NAME;ADDRESS;STARTDATE" sort-columns="NAME" keys="OFFICEID" query-rows="5" insert-button="no" refresh-button="no"
      export-button="no" [static-data]="data" fxFill edition-mode="none" detail-mode="none">
      <o-table-column attr="OFFICEID" title="OFFICEID" width="15%"></o-table-column>
      <o-table-column attr="STARTDATE" title="STARTDATE" width="22%" type="date" format="LL"></o-table-column>
      <o-table-paginator [page-size-options]="pageSizeOptionsInput.value"></o-table-paginator>
    </o-table>
  </screen-configuration>
</example-comp>
