<example-comp #ex collapsible="no" collapsed="no" comp-name="TABLE.EXAMPLE_TABLE_FIXED" [files]="getFiles('o-table-fixed')"
  (showSource)="onShowSource('o-table-fixed', table, ex)">

  <data-structure comp-name="TABLE" #sidenavComp>
    <div menu layout-margin fxLayout="column">
      <mat-form-field>
        <mat-label>{{ 'HEIGHT' | oTranslate }}</mat-label>
        <input matInput #height value="400" type="number">
      </mat-form-field>
      <mat-slide-toggle #fixedHeaderToggle [checked]="true">
        {{ 'TABLE.BUTTON.FIXED' | oTranslate }}
      </mat-slide-toggle>
    </div>


    <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-between stretch" layout-padding content>

      <div fxFlex="1 0" fxLayout="column" fxLayoutAlign="start stretch">

        <o-table #table attr="tableFixed" title="ACCOUNTS" [fixed-header]="fixedHeaderToggle.checked" [static-data]="data"
          columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;BALANCE;STARTDATE;ENDDATE;INTERESRATE;ACCOUNTTYP"
          visible-columns="ENTITYID;OFFICEID;CDID;ANID;ACCOUNTTYP;BALANCE" sort-columns="ANID" query-on-init="false" quick-filter="yes"
          insert-button="no" delete-button="no" refresh-button="no" pagination-controls="no" export-button="no" [ngStyle]="{'height.px':height.value}"
          edition-mode="none" detail-mode="none">
          <o-table-column attr="ENTITYID" title="ENTITYID" width="14%"></o-table-column>
          <o-table-column attr="OFFICEID" title="OFFICEID" width="14%"></o-table-column>
          <o-table-column attr="CDID" title="CDID" width="14%"></o-table-column>
          <o-table-column attr="ANID" title="ANID" width="20%"></o-table-column>
          <o-table-column attr="BALANCE" title="BALANCE" currency-symbol="€" type="currency" grouping="yes" thousand-separator="," width="18%">
          </o-table-column>
          <o-table-columns-grouping>
            <o-table-columns-grouping-column attr="BALANCE" aggregate="sum"> </o-table-columns-grouping-column>
          </o-table-columns-grouping>
          <o-table-column-aggregate attr="BALANCE" title="sum:"></o-table-column-aggregate>
        </o-table>

      </div>
      <configuration-button (confBtnClick)="toggleSidenav()"></configuration-button>
    </div>
  </data-structure>

</example-comp>
