h5 {
  margin: .1em;
}

.changelog {
  text-decoration: none;
  padding: 8px;
  background-color: transparent;

  span {
    line-height: 1.5em;
    padding-left: 8px;
  }
}

.changelog:hover {
  background-color: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-header {
  display: flex;
  margin-bottom: 10px;
  font-weight: 500;
  flex-shrink: 0;
}

mat-card-content {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

mat-card-footer{
  padding-bottom: 10px;
}
