<example-comp comp-name="STATE_INPUTS" comp-desc="STATE_IMPUTS.DESC" [files]="files">
  <o-form editable-detail="false" show-header="no">
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-slider attr="slider" [data]="getValue()" ></o-slider>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-slider #slider attr="slider-editable" [data]="getValue()" read-only="no"></o-slider>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-slider attr="slider-disabled" enabled="no" [data]="getValue()"></o-slider>
    </div>
  </o-form>
</example-comp>
<example-comp comp-name="INPUT.SLIDER.FORMATING_THUMBLABEL" [files]="files_formatting_thumblabel">
  <o-form editable-detail="false" show-header="no">
    <div fxLayout="column" layout-padding fxFlex="80">
      <o-slider attr="slider-editable" [data]="getValue()" read-only="no" color="warn" max="100" min="0" thumb-label="true"
        show-tick-marks="yes" [display-with]="formatLabel"  class="example-body"></o-slider>
    </div>
  </o-form>
</example-comp>
