<div fxLayout="row" class="main-container bg-level-1">
  <div fxLayout="row" fxLayoutAlign="center start" class="card-container">
    <a routerLink="/main/modals/dialogs">
      <inputs-card comp-name="dialog" header="{{ 'DIALOG.COMPONENT' | oTranslate }}" content="{{ 'DIALOG.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </a>
    <a routerLink="/main/modals/snackbar">
      <inputs-card comp-name="snackbar" header="{{ 'SNACKBAR.COMPONENT' | oTranslate }}" content="{{ 'SNACKBAR.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </a>
    <a routerLink="/main/modals/contextmenu">
      <inputs-card comp-name="contextmenu" header="{{ 'CONTEXTMENU.COMPONENT' | oTranslate }}" content="{{ 'CONTEXTMENU.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </a>
    <a routerLink="/main/modals/tooltip">
      <inputs-card comp-name="tooltip" header="{{ 'TOOLTIP.COMPONENT' | oTranslate }}" content="{{ 'TOOLTIP.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </a>
  </div>
</div>
