<example-comp  #ex comp-name="STATE_INPUTS" comp-desc="STATE_IMPUTS.DESC" collapsible="no"
  [html]="html" [files]="customInputFiles" (showSource)="onShowSource('customInput', input, ex)">
  <o-form editable-detail="no" show-header="no" layout-direction="row" class="hide-overflow">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50">
      <o-text-input #input attr="attr" [float-label]="floatLabelValue" [appearance]="appearanceValue" [label]="label.value"
        [placeholder]="placeholder.value" read-only="no" clear-button="yes"
        [hide-required-marker]="hideRequiredMarker.checked" required="yes">
      </o-text-input>
    </div>

    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start" fxFlex="50" layout-padding>

      <mat-form-field>
        <input (change)="updateCodeValue('labelValue', $event.target.value)" matInput #label placeholder="Label" value="Label value">
      </mat-form-field>

      <mat-form-field>
        <input (change)="updateCodeValue('placeholderValue', $event.target.value)" matInput #placeholder placeholder="Placeholder" value="Placeholder value">
      </mat-form-field>

      <mat-checkbox (change)="updateCodeValue('hideRequiredMarker', $event.checked)" #hideRequiredMarker>Hide required marker</mat-checkbox>

      <div fxLayoutGap="8px">
        <label>Float label: </label>
        <mat-radio-group (change)="updateCodeValue('floatLabel', $event.value)" #floatLabel [(ngModel)]="floatLabelValue" fxLayoutGap="8px">
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayoutGap="8px">
        <label>Appearance: </label>
        <mat-radio-group (change)="updateCodeValue('appearanceValue', $event.value)" #appearance [(ngModel)]="appearanceValue" fxLayoutGap="8px">
          <mat-radio-button value="fill">Fill</mat-radio-button>
          <mat-radio-button value="outline">Outline</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>



  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.FLOAT_LABEL" comp-desc="INPUTS.FLOAT_LABEL.DESC" [files]="floatLabelFiles">
  <o-form editable-detail="no" show-header="no" layout-direction="column">

    <o-text-input attr="text" float-label="always" label="{{ 'INPUT.FLOAT_LABEL.ALWAYS' | oTranslate }}" read-only="no"
      clear-button="yes"></o-text-input>

    <o-text-input attr="text2" float-label="auto" label="{{ 'INPUT.FLOAT_LABEL.AUTO' | oTranslate }}" read-only="no"
      clear-button="yes"></o-text-input>

  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.PLACEHOLDER" comp-desc="INPUTS.PLACEHOLDER.DESC" [files]="placeholderFiles">
  <o-form editable-detail="no" show-header="no" layout-direction="column">

    <o-text-input attr="text_placeholder" float-label="always" label="{{ 'INPUT.PLACEHOLDER.LABEL' | oTranslate }}"
      read-only="no" clear-button="yes"></o-text-input>

    <o-text-input attr="text_placeholder2" float-label="always" label="{{ 'INPUT.PLACEHOLDER.LABEL' | oTranslate }}"
      placeholder="{{ 'INPUT.PLACEHOLDER.FLOAT_ALWAYS' | oTranslate }}" read-only="no" clear-button="yes">
    </o-text-input>

    <o-text-input attr="text_placeholder3" float-label="never"
      label="{{ 'INPUT.PLACEHOLDER.NEVER_LABEL' | oTranslate }}" read-only="no" clear-button="yes"></o-text-input>

    <o-text-input attr="text_placeholder4" float-label="never" appearance="outline"
      placeholder="{{ 'INPUT.PLACEHOLDER.NEVER_OUTLINE' | oTranslate }}" read-only="no" clear-button="yes">
    </o-text-input>

  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.APPEARANCE" comp-desc="INPUTS.APPEARANCE.DESC" [files]="appearanceFiles">
  <o-form editable-detail="no" show-header="no" layout-direction="column">

    <o-text-input appearance="legacy" attr="text_" label="{{ 'INPUT.APPEARANCE.LEGACY' | oTranslate }}"
      [data]="getValueText()" read-only="no" clear-button="yes" layout-padding></o-text-input>

    <o-text-input appearance="fill" attr="text_2" label="{{ 'INPUT.APPEARANCE.FILL' | oTranslate }}"
      [data]="getValueText()" read-only="no" clear-button="yes" layout-padding></o-text-input>

    <o-text-input appearance="outline" attr="text_3" label="{{ 'INPUT.APPEARANCE.OUTLINE' | oTranslate }}"
      [data]="getValueText()" read-only="no" clear-button="yes" layout-padding></o-text-input>

    <o-currency-input appearance="fill" attr="currency3" clear-button="yes"
      label="{{ 'INPUT.APPEARANCE.FILL' | oTranslate }}" read-only="no" [data]="getValueCurr()" required="yes" layout-padding>
    </o-currency-input>

    <o-currency-input appearance="outline" attr="currency4" clear-button="yes"
      label="{{ 'INPUT.APPEARANCE.OUTLINE' | oTranslate }}" read-only="no" [data]="getValueCurr()" required="yes" layout-padding>
    </o-currency-input>

    <!-- <o-combo attr="combo-editable" appearance="fill" label="{{ 'INPUT.APPEARANCE.FILL' | oTranslate }}" [static-data]="getDataArray()"
      [data]="getValueSimple()" value-column="key" columns="key;value" visible-columns="value" required="yes" read-only="false"></o-combo>

    <o-combo attr="combo-editable2" appearance="outline" label="{{ 'INPUT.APPEARANCE.OUTLINE' | oTranslate }}"
      [static-data]="getDataArray()" [data]="getValueSimple()" value-column="key" columns="key;value" visible-columns="value"
      required="yes" read-only="false"></o-combo> -->

    <!-- <o-date-input attr="date" appearance="legacy" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" read-only="no" format="LL"
      required="yes" min="01/01/1980" max="01/01/2020"></o-date-input>

    <o-date-input attr="date2" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" read-only="no" format="LL" required="yes"
      min="01/01/1980" max="01/01/2020"></o-date-input>

    <o-date-input attr="date3" appearance="outline" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" read-only="no"
      format="LL" required="yes" min="01/01/1980" max="01/01/2020"></o-date-input>

    <o-date-input attr="date4" appearance="fill" label="{{ 'INPUT.BUTTON.DATE' | oTranslate }}" read-only="no" format="LL"
      required="yes" min="01/01/1980" max="01/01/2020"></o-date-input> -->
  </o-form>
</example-comp>