<o-form-layout-manager attr="o-form-layout-manager-dialog" mode="dialog" title="CUSTOMERS" label-columns="SURNAME;NAME" separator=","
  title-data-origin="customers_form_edit">

  <o-table #table attr="table" keys="CUSTOMERID" columns="CUSTOMERID;PHOTO;NAME;SURNAME;NOTES" visible-columns="PHOTO;NAME;SURNAME;NOTES"
    sort-columns="SURNAME" quick-filter="no" row-height="medium" select-all-checkbox="no" export-button="no" show-configuration-option="no"
    columns-visibility-button="no" delete-button="no" service-type="DummyService" service="customers" entity="customer">

    <o-table-column attr="PHOTO" orderable="no" searchable="no" width="64px" tooltip="yes">
      <o-table-cell-renderer-image image-type="base64" empty-image="assets/images/no-image.png" avatar="yes">
      </o-table-cell-renderer-image>
    </o-table-column>
  </o-table>

</o-form-layout-manager>
