<div fxLayout="row" class="main-container bg-level-1">
  <div fxLayout="row" fxLayoutAlign="center start" class="card-container">
    <div class="card-link " routerLink="/main/data/grid">
      <inputs-card comp-name="grid" header="{{ 'GRID.COMPONENT' | oTranslate }}" content="{{ 'GRID.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </div>
    <div class="card-link" routerLink="/main/data/lists">
      <inputs-card comp-name="list" header="{{ 'LIST.COMPONENT' | oTranslate }}" content="{{ 'LIST.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </div>
    <div class="card-link" routerLink="/main/data/table">
      <inputs-card comp-name="table" header="{{ 'TABLE.COMPONENT' | oTranslate }}" content="{{ 'TABLE.COMPONENT.DESC' | oTranslate }}">
      </inputs-card>
    </div>
  </div>
</div>
