<example-comp comp-name="INPUTS.HOUR" comp-desc="INPUTS.HOUR.DESC" [files]="files">
  <o-form editable-detail="no" show-header="no" layout-direction="column">

    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.READ_ONLY' | oTranslate }}</label>
      <o-hour-input value-type="string" fxFlex attr="input" label="{{ 'INPUT.BUTTON.HOUR' | oTranslate }}" [data]="getValue()"></o-hour-input>

    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.EDITABLE' | oTranslate }}</label>
      <o-hour-input value-type="string" attr="input2" label="{{ 'INPUT.BUTTON.HOUR' | oTranslate }}" [data]="getValue()"
        read-only="no" required="yes" tooltip="This is an awesome tooltip!" clear-button="yes" format="24"></o-hour-input>
    </div>
    <div fxLayout="column" layout-padding>
      <label class="input-comp-title">{{ 'INPUTS.DISABLED' | oTranslate }}</label>
      <o-hour-input value-type="string" attr="input3" label="{{ 'INPUT.BUTTON.HOUR' | oTranslate }}" enabled="no"
        [data]="getValue()"></o-hour-input>
    </div>

  </o-form>
</example-comp>

<example-comp comp-name="INPUTS.HOUR.FORMATS" comp-desc="INPUTS.HOUR.FORMATS.DESC" [files]="formatFiles">
  <o-form editable-detail="no" show-header="no" layout-direction="row" layout-align="space-between center">
    <div fxLayout="column" layout-padding fxFlex="40">
      <label class="input-comp-title">{{ 'INPUTS.HOUR.FORMATS_12' | oTranslate }}</label>
      <o-hour-input value-type="string" attr="formatinput" label="{{ 'INPUT.BUTTON.HOUR' | oTranslate }}" [data]="getValue()"
        read-only="no" format="12"></o-hour-input>
    </div>
    <div fxLayout="column" layout-padding fxFlex="40">
      <label class="input-comp-title">{{ 'INPUTS.HOUR.FORMATS_24' | oTranslate }}</label>
      <o-hour-input value-type="string" attr="formatinput2" label="{{ 'INPUT.BUTTON.HOUR' | oTranslate }}" [data]="getValue()"
        read-only="no" format="24"></o-hour-input>
    </div>
  </o-form>
</example-comp>
