<example-comp #ex collapsible="no" collapsed="no" comp-name="TABLE.EXAMPLE_ROW_EXPANDABLE_WITH_EXPANDABLE_CONTAINER"
  comp-desc="TABLE.EXAMPLE_ROW_EXPANDABLE_WITH_EXPANDABLE_CONTAINER_DESC" [files]="getFiles('o-table-row-expandable-with-expandable-container')">
  <div fxLayout="row" fxLayoutAlign="center start" layout-padding style="height:500px">
    <o-table fxFill #table service-type="DummyService" service="customers" entity="customer" keys="CUSTOMERID" columns="CUSTOMERID;SURNAME;NAME"
      title="CUSTOMERS" insert-button="no" delete-button="no" refresh-button="no" pagination-controls="no" detail-mode="none" export-button="no"
      store-state="false" query-rows="10" fixed-header="yes" show-charts-on-demand-option="no">
      <o-table-row-expandable icon-collapse="expand_more" icon-expand="chevron_right">
        <ng-template let-row>
          <o-expandable-container [targets]="[accountsTable]" [data]="row">
            <o-table #accountsTable service-type="DummyService" service="customers" entity="customerAccount" parent-keys="CUSTOMERID" keys="ACCOUNTID"
              columns="ACCOUNTID;ENTITYID;OFFICEID;CDID;ANID;ACCOUNT;BALANCE;CUSTOMERID;STARTDATE" visible-columns="ACCOUNT;BALANCE;STARTDATE"
              title="ACCOUNTS" sort-columns="STARTDATE" query-on-init="false" query-rows="6" pageable="no" insert-button="no" delete-button="no"
              detail-mode="none">
              <o-table-column attr="ACCOUNT" title="ACCOUNT" class="o-table-column-centered"></o-table-column>
              <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
              <o-table-column attr="BALANCE" title="BALANCE" type="currency" currency-symbol="€" currency-symbol-position="right"
                thousand-separator="." decimal-separator=",">
              </o-table-column>
            </o-table>
          </o-expandable-container>
        </ng-template>
      </o-table-row-expandable>
    </o-table>
  </div>
</example-comp>
