.conf-button-div {
  max-width: 32px;
  min-width: 32px;
  width: 32px;
  height: 160px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.conf-btn {
  padding-bottom: 34px;
  padding-right: 54px;
  transform: rotate(-90deg);
}